/*=================404 Page START ================*/
.error
    &__wrapper
      padding-top: 156px
      padding-bottom: 52px
    &__title
      color: $blue
      +heavy
      +rfs(55px)
      line-height: 57px
      margin-bottom: 28px
    &__text
      max-width: 420px
      margin-bottom: 28px
      +rfs(18px)
      +regular
      line-height: 125%
      color: $black
    &__info
      padding-top: 72px
@media (max-width: 1199px)
  .error
    &__image
      max-width: 500px
    &__wrapper
      padding-top: 76px
      padding-bottom: 52px
    &__title
      +rfs(55px)
      line-height: 57px
      margin-bottom: 28px
    &__text
      margin-bottom: 28px
      +rfs(18px)
    &__info
      padding-top: 72px
@media (max-width: 991px)
  .error
    &__image
      max-width: 400px
    &__wrapper
      padding-top: 76px
      padding-bottom: 52px
    &__title
      +rfs(55px)
      line-height: 57px
      margin-bottom: 28px
    &__text
      margin-bottom: 28px
      +rfs(16px)
    &__info
      padding-top: 42px
@media (max-width: 767px)
  .error
    &__img
      order: 2
    &__image
      max-width: 300px
    &__wrapper
      padding-top: 76px
      padding-bottom: 52px
    &__title
      +rfs(55px)
    &__text
      margin-bottom: 28px
      +rfs(16px)
    &__info
      order: 1
@media (max-width: 767px)
  .error
    &__btn
      +rfs(10px)
    &__img
    &__image
      max-width: 300px
    &__wrapper
      padding-top: 76px
      padding-bottom: 52px
    &__title
      +rfs(55px)
    &__text
      margin-bottom: 28px
      +rfs(14px)
    &__info
/*=================404 Page END ================*/