.calendar
  min-height: calc(100vh - 403px)
  padding-top: 219px
  padding-bottom: 95px

  &__left-side
    padding-left: 0

  .row
    margin: auto !important

  &__right-side
    margin: 0 auto !important

  &__data

    &-title
      width: 225px
      display: flex
      justify-content: space-between
      align-items: center

      &_cut
        width: 75px

  &__controls
    min-width: 340px

  &__component
    border: 2px solid $blue
    border-radius: 14px
    width: 100%
    height: 600px
    margin: auto

    &-row
      height: 16.666666666666667%
      border-bottom: 2px solid $blue

      &:last-child
        border: none

    &-cell
      border-right: 2px solid $blue
      overflow: auto

      &:hover &
        &-btn-order
          display: flex

      .text_xl
        text-align: center

      &:last-child
        border: none

      &_past

        .text
          color: $very-light-gray

      &_past &

        &-order
          border-color: $very-light-gray !important

          .text
            color: $very-light-gray

      &_future
        
        .text
          color: $dark-gray

      &_current

        .text
          color: $blue

      &-order
        border-bottom: 2px solid $blue
        width: 100%
        height: 20px
        padding: 0 15px
        display: flex
        justify-content: space-between
        cursor: pointer

        &:first-child
          border-top: 2px solid $blue

        .text
          line-height: 18px
          color: $black

        img
          width: 9px
          transform: rotate(90deg)
          margin-top: -2px

      &-btn-order
        display: none
        justify-content: center

@media (max-width: 992px)
  .calendar

    &__left-side
      display: none

    .row
      margin-right: 0
      margin-left: 0
      padding: 0

    .container
      max-width: unset !important


@media (max-width: 575px)
  .calendar
    padding-top: 75px

    &__component

      &-cell
        &_mobile-active
          background-color: $blue

          .text
            color: $white

        &-order
          border: none !important
          padding: 0

          .text
            width: 100%
            text-align: center

          img
            display: none

    &__mobile

      &-orders-list
        background-color: $near-white
        padding: 11px 15px
        border-radius: 15px

      &-card-number
        text-align: right

      &-edit-btn
        font-size: 10px
        margin-top: 18px
        margin-bottom: 20px

      &-splitter
        width: 100%
        height: 1px
        background-color: $black

      &-date-btn
        font-size: 10px
        width: 100%
