.calculator-page
    +regular
    margin-top: $header-height-desktop
    padding-top: 45px
    padding-bottom: 90px
    &__header
        margin-bottom: 30px
    &__list
        list-style-type: decimal
        font-size: 20px
        list-style-position: inside
        margin-bottom: 4px
        position: relative
        li
            position: relative
            > span
                position: absolute
                left: 20px
                top: -2px
        li:not(:last-child)
            margin-bottom: 16px
    &.residential
        & *[data-show-on="non-residential"]
            display: none
        .cleaning-type-switch__list-residential
            display: block
        .cleaning-type-switch__list-non-residential
            display: none
    &.non-residential
        & *[data-show-on="residential"]
            display: none
        .cleaning-type-switch__list-residential
            display: none
        .cleaning-type-switch__list-non-residential
            display: block
    .calc-page-second-col
        margin-left: auto
        max-width: 612px
        margin-right: 10px
    // Common components overrides:
    .increment__input
        +heavy
    .custom-options
        margin-top: 5px
        &::before
            display: none
    .custom-select-trigger::after
        background: url('../img/dropdown-arrow.svg') center
        transform: none
        border: none
        margin-top: -6px
    .custom-select.opened .custom-select-trigger::after
        transform: rotate(180deg)
        margin-top: 7px
    

@media (max-width: $lg)
    .calculator-page
        .calc-page-second-col
            margin-top: 20px
            margin-left: 0

@media (max-width: $sm)
    .calculator-page
        margin-top: $header-height-sm
        .calc-page-second-col
            margin-right: 0

        &__list
            font-size: 18px

@media (max-width: $xs)
    .calculator-page
        .hdr_l
            font-size: 26px
        &__list
            li:last-child
                margin-bottom: 15px


/*===== Calc form container START =====*/
.calculator-page-form
    // padding: 30px
    // background: $near-white
@media (max-width: $sm)
    .calculator-page-form
        // padding: 18px 19px
        background: none
/*===== Calc form container END =====*/


/*===== Calc form container START =====*/
.calc-page-colored-block
    max-width: 612px
    border-radius: 25px
    padding: 30px
    background: $near-white
    &:not(.calc-page-colored-block_desktop)
        background: none
        padding: 0
@media (max-width: $sm)
    .calc-page-colored-block
        padding: 18px 19px
        background: none
        &_desktop
            padding: 0
            background: none
        &:not(.calc-page-colored-block_desktop)
            padding: 18px 19px
            background: $near-white
        
/*===== Calc form container END =====*/


/*===== Residence type START =====*/
.residence-type-switch
    display: flex
    flex-wrap: wrap
    width: 80%
    &__header
        width: 100%
    &__img-active
        display: none
    &__img
        display: block
    &__btn-container
        max-width: 360px
        width: 360px
        display: flex
        justify-content: space-between
    &__btn
        display: inline-flex
        flex-flow: column
        background: none
        align-items: center
        border: none
        width: 165px
        &.is-active
            .residence-type-switch__img-active
                display: block
            .residence-type-switch__img
                display: none
            .residence-type-switch__type-name
                color: $blue
    &__image-wrapper
        width: 100%
        min-height: 86px
        display: block
        justify-content: center
        align-content: center
        position: relative
    &__type-name
        +heavy
        +rfs(14px)
        color: $dark-gray
        margin-top: 2px
        margin-bottom: 4px
    &__type-sub
        +rfs(12px)
        color: $dark-gray
    img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        max-width: 100%

@media (max-width: $sm)
    .residence-type-switch
        width: 100%

@media (max-width: $xs)
    .residence-type-switch
        margin-top: 40px
        width: 100%
        justify-content: space-between
        &__btn-container
        &__btn
            width: 100%
        img
            max-width: 100%
/*===== Residence type START =====*/


/*===== Cleaning type START =====*/
.cleaning-type-switch
    +regular
    display: flex
    flex-wrap: wrap
    margin-top: 50px
    &__header
        +heavy
        width: 50%
        height: 36px
        display: flex
        align-items: center
        padding-right: 10px
    &__search
        +rfs(14px)
        width: 50%
        height: 36px
    &__list
        margin-top: 10px
        color: $dark-gray
        +rfs(14px)
        line-height: 125%
        li
            margin-bottom: 3px
            user-select: none
            .cleaning-type-switch__list-hint
                margin-left: 5px
                position: relative
                vertical-align: middle
            &:hover
                color: $very-dark-gray
        li.is-selected
            color: $blue
            &:hover
                color: $very-dark-gray
    &__list-hint
        width: 14px
        height: 14px
        background: url('/img/info-inactive.png') no-repeat 50% 50%
        background-size: contain
        display: inline-block
    .cleaning-type-switch-includes
        display: none

@media (max-width: $xs)
    .cleaning-type-switch
        margin-top: 40px
        width: 100%
        &__header
            width: 100%
        &__search
            width: 100%
        &__list
            width: 100%
            font-size: 16px
            li
                padding-top: 10px
                padding-bottom: 10px
                margin: 0
        &__list-hint
            display: none
        .cleaning-type-switch-includes
            display: block
            margin-top: 15px
            h1
                +heavy
                font-size: 12px
                margin-bottom: 10px
            ul
                font-size: 10px
                line-height: 125%
/*===== Cleaning type START =====*/


/*===== Details START =====*/
.calculator-form-details
    margin-top: 60px
    display: flex
    flex-wrap: wrap
    width: 90%
    .bclean-input-outline
        border-radius: 10px
        width: 100%
        font-size: 14px
        height: 45px
    &__header
        width: 100%
        margin-bottom: 15px
    .bclean-field-group
        display: flex
        margin-bottom: 12px
        label
            font-size: 14px
        .top-label
            +heavy
            margin-bottom: 8px
            padding-left: 12px
            padding-right: 12px
    &__checkbox-group
        font-size: 12px
        display: flex
        input
            width: 12px
            height: 12px
        label
            padding-left: 6px
            width: 100%
    &__group-metro
        width: 50%
        margin-right: 10px
    &__group-checkboxes
        width: calc(50% - 10px)
    &__group-street
        width: 50%
        margin-right: 10px
    &__group-flat
        width: 50%
        width: calc(50% - 10px)
    &__group-rooms
        display: flex
        flex-flow: column
        margin-right: 20px
    &__group-restrooms
        display: flex
        flex-flow: column
    &__group-area
        display: flex
        flex-flow: column
        position: relative
        margin-bottom: 0
    &__group-comment
        display: flex
        flex-flow: column
        width: 50%
        overflow: none
        #calculator-form-details-comment
            height: 100px
    &__group-area
        top: -22px
    input
        +heavy
        &::placeholder
            +regular

@media (max-width: $sm)
    .calculator-form-details
        width: 100%

@media (max-width: $xs)
    .calculator-form-details
        margin-top: 40px
        width: 100%
        &__header
            width: 100%
        &__search
            width: 100%
        &__group-metro
            width: 100%
            margin-right: 0
        &__group-checkboxes
            width: 100%
            order: 2
        & .calculator-form-details__checkbox-group
            display: flex
            align-items: center
            height: 30px
            color: $dark-gray
            > input
                width: 20px
                height: 20px
            > label
                font-size: 16px
                padding-left: 10px
                margin-top: 4px
        &__group-street
            width: 100%
            margin-right: 0
        &__group-flat
            display: flex
            flex-flow: column
            margin-right: 10px
            width: calc(40% - 10px)
            label
                +heavy
                margin-bottom: 8px
                padding-left: 12px
                padding-right: 12px
                width: 100%
        &__group-rooms
            margin-right: 10px
            width: calc(30% - 10px)
        &__group-restrooms
            width: calc(30%)
        &__group-area
            width: 100%
        &__group-comment
            width: 100%
        &__group-area
            top: 0
        

/*===== Details END =====*/
    

/*===== Timepick START =====*/
.calc-form-timepick
    margin-top: 56px
    position: relative
    width: 80%
    h1
        width: 100%
        margin-bottom: 15px
    input
        width: 100%
        font-size: 14px
        border-radius: 10px
        height: 45px
.calc-form-calendar
    background: url('../img/mocks/calc-calendar-mock.png') no-repeat 50% 50%
    background-size: contain
    width: 100%
    height: 292px
    display: none

@media (max-width: $sm)
    .calc-form-timepick
        width: 100%

@media (max-width: $xs)
    .calc-form-timepick
        margin-top: 20px
        width: 100%
.calc-form-calendar
    display: block
/*===== Timepick END =====*/
    

/*===== Contact START =====*/
.calculator-form-contact
    display: flex
    flex-wrap: wrap
    margin-top: 60px
    position: relative
    width: 80%
    .login-btn
        position: absolute
        right: 0
        top: 0
    .bclean-input-outline
        border-radius: 10px
        width: 100%
        font-size: 14px
        height: 45px
    h1
        width: 100%
        margin-bottom: 15px
        width: calc(100% - 70px)
    .bclean-field-group
        display: flex
        flex-flow: column
        margin-bottom: 12px
        label
            +heavy
            font-size: 14px
            margin-bottom: 6px
            padding-left: 14px
    &__first-name
        width: 50%
        margin-right: 10px
    &__last-name
        width: calc(50% - 10px)
    &__phone
        width: 50%
        margin-right: 10px

@media (max-width: $sm)
    .calculator-form-contact
        width: 100%
        .login-btn
            top: 18px
            right: 18px

@media (max-width: $xs)
    .calculator-form-contact
        margin-top: 20px
        width: 100%
        .login-btn
            top: 18px
            right: 18px
            font-size: 10px
            width: 70px
            padding: 12px 14px
        &__first-name
            width: 100%
            margin-right: 0
        &__last-name
            width: 100%
            margin-right: 0
        &__phone
            width: 100%
            margin-right: 0
/*===== Contact END =====*/


/*===== Continue prompt START =====*/
.calc-form-prompt
    margin-top: 60px
    +regular
    width: 80%
    h1
        +heavy
        color: $blue
        margin-bottom: 13px
    p
        +regular
        font-size: 14px
        margin-bottom: 12px
        line-height: 130%
        max-width: 378px
    button
        box-sizing: content-box
        width: 137px
        font-size: 14px
        padding: 9px 15px
    .prompt-desc
        display: none

@media (max-width: $sm)
    .calc-form-prompt
        width: 100%

@media (max-width: $xs)
    .calc-form-prompt
        margin-top: 20px
        width: 100%
        .calc-page-colored-block
            background-color: $blue
            color: $white
            margin-bottom: 20px
            h1
                color: $white
        .continue-btn
            width: 100%
            box-sizing: border-box
        .prompt-desc
            display: block
            .prompt-user-date
                +heavy
            .prompt-user-time
                +heavy
            .prompt-desc-bold
                +heavy
            .prompt-desc-list
                +regular
                font-size: 12px
                line-height: 125%
/*===== Continue prompt END =====*/


/*===== Add service START =====*/
.calc-form-add-service
    margin-top: 60px
    +regular
    display: flex
    flex-wrap: wrap
    width: 100%
    h1
        +heavy
        margin-bottom: 13px
        width: 100%
    ul
        width: 50%
        min-width: 200px
    .add-service-form__list-2
        width: calc(50% - 10px)
        margin-left: 10px
    li
        font-size: 12px
        min-height: 20px
        position: relative
        display: flex
        margin-bottom: 4px
        align-items: center
    .add-service__checkbox
        margin-right: 4px
        height: 10px
        width: 10px
        min-width: 10px
        min-height: 10px
    .add-service__checkbox:not(:checked) + label
        color: $dark-gray
    .add-service__checkbox:not(:checked) + label + span
        color: $dark-gray
    .add-service__label
        margin-right: 4px
    .custom-select-wrapper
        vertical-align: middle
        z-index: 1
    .custom-select
        .custom-select-trigger
            width: 83px
            height: 20px
            padding: 0
            overflow: hidden
            padding-right: 25px
            padding-left: 8px
            padding-top: 3px
            margin-right: 4px
            text-overflow: ellipsis
            font-size: 9px
        .custom-options
            padding-right: 10px
    &.calc-form-add-service-mobile
        display: none

@media (max-width: $sm)
    .calc-form-add-service
        width: 100%
        font-size: 16px
        h1
            margin-bottom: 0
        &.calc-form-add-service-mobile
            display: flex
        &:not(.calc-form-add-service-mobile)
            display: none
        input[type="checkbox"]
            display: none
        .add-service-form-mobile-main-item
            flex-wrap: wrap
            font-size: 16px
            margin-bottom: 35px
            label
                width: 50%
                margin: 0
                width: 160px
            .custom-select-wrapper
                width: 50%
                order: 2
                .custom-select-trigger
                    height: 30px
                    padding-top: 7px
                    font-size: 12px
                    border: 1px solid $black
            .add-service__price
                width: unset
        .add-service-mobile-groups-container
            margin: 20px 0
            width: 100%
        .add-service-mobile-group
            h2
                +heavy
                font-size: 18px
                margin-top: 20px
                margin-bottom: 10px
            ul
                width: 100%
                font-size: 16px
                li
                    font-size: 16px
                    padding: 5px 0
        .add-service__checkbox:checked
            &::before
                content: ''
                width: 100%
                height: 100%
                background: $blue
       
/*===== Add service END =====*/


/*===== Add service START =====*/
.calc-form-repeat
    margin-top: 60px
    +regular
    display: flex
    flex-wrap: wrap
    width: 80%
    h1
        +heavy
        margin-bottom: 13px
        width: 100%
    &__select
        width: 100%
        display: flex
        // flex-wrap: wrap
        margin-bottom: 17px
        div
            width: 100%
            margin-right: 20px
            padding: 9px 11px
            height: 100%
            height: 78px
            display: flex
            flex-flow: column
            justify-content: space-between
            background: $white
            border-radius: 15px
            &.selected
                background: $blue
                color: $white
                span:first-child
                    color: $white
                span:last-child
                    color: $white
            span:first-child
                +heavy
                font-size: 14px
                color: $black
            span:last-child
                +heavy
                color: $blue
    &__desc
        font-size: 12px
        line-height: 125%
        margin-bottom: 20px
    .calc-form-cleaner
        height: 45px
        border-radius: 10px
        width: 100%
        &__placeholder
            color: $dark-gray
        &.active
            .calc-form-cleaner__placeholder
                display: none
        &:not(.active)
            .calc-form-cleaner__labels
                display: none
        &__labels
            display: flex
            width: 100%
            p
                flex-shrink: 0
                > *
                    margin-left: 2px
        &__name
            +heavy
            width: 100%
        &__rating
            +heavy
        &__cleans
            +heavy
    .cleaner-choice-mock
        width: 100%
    .cleaners-selector-container
        width: 100%
    .cleaners-selector
        +regular
        width: 100%
        // border: 2px solid $black
        border-radius: 10px
        font-size: 14px
        display: flex
        flex-flow: column
    .cleaners-selector-item-selected
        +heavy
        height: 25px
        display: flex
        align-items: center
        border-bottom: 2px solid $black
        margin: 23px 18px 20px 18px
        min-height: 25px
        p
            flex-shrink: 0
            font-size: 14px
    .cleaners-selector-item-selected__name
        width: 100%
    .cleaners-selector-item
        height: 25px
        min-height: 25px
        display: flex
        align-items: center
        padding: 0 18px
        font-size: 14px
        color: $dark-gray
        p
            flex-shrink: 0
        &:hover
            color: $black
            .cleaners-selector-item__name
                +heavy
            .cleaners-selector-item__rating
                +heavy
            .cleaners-selector-item__cleans
                +heavy
    .cleaners-selector-item__name
        width: 100%
    .cleaners-selector-item__rating
        +heavy
    .cleaners-selector-list
        overflow: auto
        margin: 0 0 11px 0
    .cleaners-selector-container
        display: none




@media (max-width: $sm)
    .calc-form-repeat
        width: 100%

@media (max-width: $xs)
    .calc-form-repeat
        width: 100%
        &__select
            width: 100%
            height: unset
            flex-wrap: wrap
            div
                min-height: 43px
                height: unset
                margin-bottom: 10px
                width: 50%
                margin-right: 0
                flex-flow: row
                font-size: 12px
            div:nth-child(odd)
                margin-right: 10px
                width: calc(50% - 10px)
    .cleaners-selector-container
        display: block
    .cleaners-selector
        +regular
        width: 100%
        border: 2px solid $black
        border-radius: 10px
        font-size: 12px
        max-height: 312px
        display: flex
        flex-flow: column
    .cleaners-selector-item-selected
        +heavy
        height: 30px
        display: flex
        align-items: center
        border-bottom: 2px solid $black
        margin: 11px 16px
        margin-bottom: 14px
        min-height: 30px
        p
            flex-shrink: 0
            font-size: 10px
    .cleaners-selector-item
        height: 30px
        min-height: 30px
        display: flex
        align-items: center
        padding: 0 16px
        p
            flex-shrink: 0
            font-size: 10px
        &:hover
            background: $light-blue
    .cleaners-selector-container.with-star
        .cleaners-selector-item-selected__rating,
        .cleaners-selector-item__rating
            &::after
                content: ''
                background: url('../img/star-blue.svg') center
                background-size: contain
                width: 11px
                height: 11px
                display: inline-block
        .cleaners-selector-item-selected__rating-label,
        .cleaners-selector-item__rating-label
            display: none
        
/*===== Add service END =====*/


/*===== Promo code START =====*/
.calc-form-promocode
    margin-top: 60px
    +regular
    display: flex
    flex-wrap: wrap
    width: 80%
    h1
        +heavy
        margin-bottom: 16px
        width: 100%
    &__input-block
        max-width: 243px
        height: 36px
        font-size: 14px
        margin-bottom: 6px
        background: $form-light-blue

@media (max-width: $sm)
    .calc-form-promocode
        width: 100%

@media (max-width: $xs)
    .calc-form-promocode
        width: 100%
        &__input-block
            width: 100%
            max-width: unset
/*===== Promo code END =====*/


/*===== Calc result START =====*/
.calc-result
    // margin-top: 30px
    padding: 30px 33px
    width: 80%
    &__sum
        +heavy
        font-size: 20px
        display: flex
        justify-content: space-between
        margin-bottom: 12px
    &__discount
        font-size: 14px
        display: flex
        justify-content: space-between
        padding-bottom: 18px
        border-bottom: 1px solid $black
        margin-bottom: 18px
    &__total
        +heavy
        font-size: 30px
        display: flex
        justify-content: space-between
        margin-bottom: 12px
    &__total-regular
        +regular
        font-size: 12px
        margin-right: 10px
    &__next-price
        +heavy
        font-size: 30px
        display: flex
        justify-content: space-between
        margin-bottom: 12px
    &__next-price-regular
        +regular
        font-size: 12px
        margin-right: 10px

@media (max-width: $sm)
    .calc-result
        width: 100%

@media (max-width: $xs)
    .calc-result
        width: 100%
        padding: 20px 0
        margin-top: 20px
/*===== Calc result START =====*/


/*===== Payment method START =====*/
.calc-page-payment
    margin-top: 35px
/*===== Payment method END =====*/


.calc-page__submit
    margin-top: 24px
    padding: 12px 15px
    font-size: 14px

.calc-page__info
    margin-top: 16px
    font-size: 10px
    max-width: 344px
    line-height: 125%
    color: #aeaeae


/*==== Mocks =====*/
// .calc-mobile-mock
//     width: 100vw
//     position: absolute
//     left: 0
//     top: 0
//     z-index: 100
//     img
//         width: 100vw

// .calculator-page.residential
//     .calc-mobile-mock-non-res
//         display: none
// .calculator-page.non-residential
//     .calc-mobile-mock-res
//         display: none
        
// @media (max-width: $sm)
//     .calculator-page
//         overflow: hidden
//         width: 100%
//         max-width: 100%
// @media (max-width: $xs)
//     .calculator-page
//         & > .container
//             display: none
/*==== Mocks END =====*/


.xdsoft_datetimepicker
    +regular
    // display: block !important // for testing only
    .xdsoft_today_button
        display: none
    .xdsoft_label.xdsoft_year
        display: none
    .xdsoft_datepicker
        width: 281px
    .xdsoft_monthpicker
        display: flex
        justify-content: space-between
        align-items: center
        .xdsoft_prev
            background: url('../img/long-arrow.svg') center no-repeat
            background-size: contain
            opacity: 1
            margin-left: 40px
            margin-right: auto
            min-width: 52px
            width: 52px
            height: 55px
        .xdsoft_next
            background: url('../img/long-arrow.svg') center no-repeat
            transform: scaleX(-1)
            background-size: contain
            opacity: 1
            margin-right: 40px
            margin-left: auto
            min-width: 52px
            width: 52px
            height: 55px
        .xdsoft_monthselect
            display: none !important
        .xdsoft_label.xdsoft_month
            +heavy
            width: unset
            text-decoration: none
            &:hover > span
                text-decoration: none
                cursor: default
            i
                display: none
    .xdsoft_calendar
        +regular
        color: $black
        thead
            tr
                display: none
        tbody
            td
                background: none
                border: none
                width: 40px
                height: 40px
                font-size: 14px
                text-align: center
                &:hover
                    background: unset !important
                    color: $black !important
                div
                    padding: 0
                &.xdsoft_current
                    background: $blue
                    box-shadow: none
                    font-weight: unset
                    border-radius: 10px
                    &:hover
                        background: $blue !important
                        color: $white !important
    .xdsoft-bottom-bar
        +regular
        height: 50px
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        &__label
            +heavy
            font-size: 14px
            margin-right: 5px
        .custom-select-wrapper
            width: 70px
        .custom-select-trigger
            +heavy
            width: 70px
            border: none
            font-size: 12px
            ::after
                width: 7px
                height: 7px
                right: 23px
        .custom-options
            padding: 15px 18px