.complain-page
    +regular
    margin-top: $header-height-desktop
    padding-top: 18px
    padding-bottom: 112px
    &__main
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%
    &__form-wrapper
        width: 500px
        padding: 28px
        flex-direction: column
        border-radius: 25px
        background: $near-white
        overflow: auto
    &__img
        display: block
        &_mobile
            display: none

.complain-page-nav
    display: flex
    flex-wrap: wrap
    font-size: 18px
    margin-bottom: 20px
    &__parent-page
        color: #878787
        padding-right: 18px
        margin-right: 18px
        border-right: 1px solid $dark-gray
    &__current-page
        color: $black

.complain-page
    &__heading
        +heavy
        font-size: 45px
        color: $blue
        height: 61px
    &__desc
        font-size: 18px
        color: $black
        width: 460px
        margin-bottom: 64px

.complain-form-wrapper
    &__heading
        +heavy
        font-size: 30px
        color: $blue
        margin-bottom: 10px
    &__text
        font-size: 18px
        color: #878787
        margin-bottom: 16px

.complain-form
    width: 380px
    max-width: 380px
    display: flex
    flex-wrap: wrap
    position: relative
    &__field-group
        width: calc(50% - 8px)
        margin-bottom: 13px
        &_padded-right
            margin-right: 16px
        &:last-child
            margin-right: 0
        label
            +heavy
            display: block
            font-size: 14px
            margin-left: 16px
            width: 100%
            margin-bottom: 6px
        &_full-width
            width: 100%
            margin-right: 0
    &__input
        border-radius: 10px
        height: 45px
        width: 100%
        padding: 15px 17px
        font-size: 14px
        &::placeholder
            font-size: 14px
            color: $dark-gray
    &__textarea
        border-radius: 10px
        height: 73px
        min-height: 73px
        // max-height: 73px
        width: 100%
        padding: 14px 12px
        font-size: 14px
        position: relative
        z-index: 1
        &::placeholder
            font-size: 14px
            color: $dark-gray
    &__textarea-group
        position: relative
        &::after
            content: ''
            background: url('../img/textarea-arrow.svg') center
            background-size: contain
            width: 12px
            height: 12px
            position: absolute
            right: 4px
            bottom: 4px
    &__submit-btn
        margin-top: 13px
        margin-bottom: 13px
        font-size: 14px
        min-width: 121px
    &__sub
        font-size: 10px
        max-width: 344px
        line-height: 125%
        color: #aeaeae

@media (max-width: $lg)
    .complain-page
        &__main-block
            margin-bottom: 20px


@media (max-width: $sm)
    .complain-page
        margin-top: $header-height-sm
        padding-bottom: 28px
        &__heading
            font-size: 26px
            height: 33px
            // margin-bottom: 20px
        &__desc
            font-size: 12px
            margin-bottom: 28px
            width: 221px
        &__form-wrapper
            height: unset
            margin-bottom: 27px
        &__img
            margin: 0 auto
        &__main-block
            width: 100%
    .complain-page-nav
        display: flex
        flex-wrap: wrap
        font-size: 12px
        margin-bottom: 25px



@media (max-width: $xs)
    .complain-page
        padding-bottom: 28px
        &__img
            &_desktop
                display: none
            &_mobile
                display: block
                margin: 0 auto
        &__form-wrapper
            height: unset
            margin-bottom: 27px
        &__heading
            margin-bottom: 7px
        &__desc
            margin-bottom: 0
    .complain-form-wrapper
        &__heading
            font-size: 18px
            margin-bottom: 10px
        &__text
            font-size: 10px
            color: $black
            margin-bottom: 20px
    .complain-form
        width: 100%
        margin-bottom: 20px
        &__field-group
            width: 100%
            margin-bottom: 20px
            &_padded-right
                margin-right: 0
            label
                font-size: 12px
                margin-left: 0
                margin-bottom: 9px
        &__input
            height: 42px
            padding: 14px 17px
            font-size: 12px
            &::placeholder
                font-size: 12px
        &__textarea
            height: 92px
            max-height: 92px
            padding: 14px 17px
            font-size: 12px
            margin-bottom: 0
            &::placeholder
                font-size: 12px
        &__submit-btn
            width: 96px
            height: 30px
            font-size: 10px
        &__sub
            font-size: 8px