.deposit
  min-height: calc(100vh - 403px)
  padding-top: 190px
  padding-bottom: 95px

  .row
    margin: auto

  &__balance
    padding-left: 0

  &__sum-input
    width: 100%
    max-width: 460px

  &__card-item
    width: 220px
    height: 100px
    padding: 16px
    border-radius: 10px
    background-color: $near-white

    &_active
      background-color: $blue

      .text
        color: $white

  &__method

    &-item
      background: $near-white
      border-radius: 10px
      width: 220px
      height: 46px

    &-yandex-logo
      width: 30px

    &-qiwi-logo
      height: 30px

@media (max-width: 575px)
  .deposit
    padding-top: 75px

    .row
      margin-right: 0
      margin-left: 0

    &__balance
      .hdr
        font-size: 26px

      .text
        margin-bottom: 50px

    &__card-item
      width: 100%
      height: 76px

    &__method-item
      width: 100%