.faqs
  width: 100%
  min-height: calc( 100vh - 401px )
  padding-bottom: 101px
  &__wrapper
    padding-top: 228px
  &__list
    &-group
      display: flex
      flex-direction: column
    display: flex
    flex-direction: column
  &__link
    +heavy
    +rfs(30px)
    line-height: 31px
    color: $black
    margin-bottom: 20px
    &-active
      color: $blue
  &__btn
    max-width: 158px
    height: fit-content
  &__select
    display: none

@media( max-width: 1199px)
  .faqs
    padding-bottom: 101px
    &__wrapper
      padding-top: 128px
    &__link
      +rfs(22px)
      margin-bottom: 10px
    &__list

@media( max-width: 767px)
  .faqs
    padding-bottom: 101px
    &__btn
      margin-left: 120px
      +rfs(12px)
    &__wrapper
      padding-top: 128px
    &__link
      +rfs(22px)
    &__list
      flex-direction: row
      margin-bottom: 40px
      justify-content: space-between
      position: relative
      &-group
        display: none
    &__select
      display: block
      width: 95px
      position: absolute
      top: -5px
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25)
      border-radius: 15px
      background-color: $white
      z-index: 40
      &-header
        display: flex
        cursor: pointer
        justify-content: center
        padding-top: 5px
        padding-bottom: 3px

      &-body
        display: none
      &-item
        +rfs(14px)
        line-height: 190%
        color: $black
        +regular
        padding: 5px
        padding-bottom: 0
        padding-top: 0
        padding-left: 17px
        justify-content: center
        &:last-child
          padding-bottom: 12px
      &-link
        color: $black
      &-icon
        align-items: center
        display: flex
        flex-shrink: 0
        justify-content: center
        text-align: center
        margin-bottom: 8px
        transform: rotate(180deg)
      &-current
        +rfs(14px)
        line-height: 190%
        color: $black
        +regular
        padding: 5px

.faqs__select.is-active .faqs__select-body
  display: block
.faqs__select.is-active .faqs__select-icon
  transform: rotate(360deg)




/*========= FAQ Modal START============ */
.index-faq

  &__modal
    &-textarea
      width: 100%
      padding: 14px 13px
      border: 2px solid $black
      border-radius: 15px
      color: $black
      +regular
      +rfs(12px)
      &::placeholder
        color: $dark-gray
    &-top
      display: flex
      align-items: center
      margin-bottom: 52px
    &-input
      display: flex
      flex-direction: column
      width: 80%
      input
        border: 2px solid $black
        border-radius: 15px
        padding: 10px 14px 12px 14px
        max-width: 342px
        &::placeholder
          color: $dark-gray
          +regular
          +rfs(12px)
          line-height: 125%
    &-label
      line-height: 21px
      +rfs(20px)
      +heavy
      color: $black
      margin-bottom: 7px
    &-select
      display: flex
      flex-direction: column
      margin-right: 20px
      label
        line-height: 21px
        +rfs(20px)
        +heavy
        color: $black
        margin-bottom: 7px
    &-container
      width: 558px
    &-header
    &-footer
    &-btn
      border: none
      padding: 12px 14px 10px 14px
      box-shadow: none
@media (max-width: 425px)
  .faq
    &__modal
      &-top
        margin-bottom: 20px
      &-container
        width: 375px
      &-select
        margin-bottom: 20px
      &-top
        flex-direction: column
        align-items: baseline




/*========= FAQ Modal END============ */



