/*=================Main Block Start ================*/
.index-main
  padding-bottom: 70px
  padding-top: 180px
  &__info
    padding: 138px 0px 0px 0px
  &__title
    +heavy
    font-size: 52px
    color: $blue
    line-height: 57px
    margin-bottom: 20px
  &__text
    +regular
    font-size: 18px
    color: $black
    line-height: 125%
    max-width: 380px
    margin-bottom: 45px
    &-bold
      +heavy
  &__picture
    max-width: 100%
  &__form
    max-width: 360px
    height: 36px
    font-size: 14px
    background: transparent

@media (max-width: $lg)
  .index-main
    padding-bottom: 50px
    &__info
      padding: 98px 0px 0px 0px
    &__title
      font-size: 28px
      line-height: 30px
    &__text
      +regular
      font-size: 14px
      color: $black
      line-height: 125%
      max-width: 380px
      margin-bottom: 25px
      &-bold
        +heavy
    &__form
      max-width: 280px
      font-size: 11px
    &__input
      font-size: 10px
      padding: 10px 148px 8px 14px
    &__btn
      font-size: 10px
      padding: 11px 14px 9px 14px
      top: 0px
      right: 0px

@media (max-width: $sm)
  .index-main
    padding-top: 80px
    padding-bottom: 30px
    &__info
      padding: 18px 0px 0px 0px
    &__title
      font-size: 22px
      line-height: 25px
      margin-bottom: 10px
    &__text
      font-size: 14px
      line-height: 125%
      max-width: 190px
      margin-bottom: 15px
    &__form
      max-width: 220px
    &__input
      font-size: 10px
      padding: 10px 100px 8px 14px
    &__btn
      font-size: 10px
      padding: 11px 14px 9px 14px
      top: 0px
      right: -40px

@media (max-width: $xs)
  .index-main
    padding-top: 63px
    padding-bottom: 40px
    &__picture
      max-width: 300px
    &__info
      padding: 38px 0px 0px 0px
    &__title
      font-size: 50px
      line-height: 52px
      margin-bottom: 20px
    &__text
      +regular
      font-size: 12px
      color: $black
      line-height: 14.25px
      max-width: 100%
      margin-bottom: 40px
      max-width: 264px
      &-bold
        +heavy
    &__form
      max-width: 228px
      margin-bottom: 20px
      font-size: 10px
      height: 30px
      background: $form-light-blue
    &__input
      font-size: 10px
      padding: 11px 70px 8px 14px
    &__btn
      font-size: 10px
      padding: 12px 14px 9px 14px
      top: 0px
      right: 0px

/*=================Main Block End ================*/



/*=================Points Block START ================*/
.index-points
  margin-bottom: 65px
  &__title
    color: $blue
    font-size: 30px
    line-height: 31px
    +heavy
    margin-bottom: 32px
  &__text
    font-size: 18px
    line-height: 125%
    color: $black
    +regular
    max-width: 340px

@media (max-width: $lg)
  .index-points
    &__title
      font-size: 26px
      margin-bottom: 26px
    &__text
      font-size: 14px

@media (max-width: $sm)
  .index-points
    &__title
      font-size: 24px
      margin-bottom: 16px
    &__text
      font-size: 14px
      max-width: 100%
      margin-bottom: 32px
      
@media (max-width: $xs)
  .index-points
    &__title
      font-size: 26px
      margin-bottom: 14px
    &__text
      font-size: 12px
      max-width: 238px
      margin-bottom: 0
    .row
      > *
        margin-bottom: 34px
      > *:last-child
        margin-bottom: 0

/*=================Points Block End ================*/


/*=================Advantages Block START ================*/
.index-advantages
  margin-bottom: 65px
  &__mobile
    display: none
  &__image

  &__title
    color: $blue
    font-size: 30px
    line-height: 31px
    +heavy
    margin-bottom: 7px
  &__item
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    margin-right: 20px
    &-title
      font-size: 20px
      line-height: 20px
      +regular
      margin-bottom: 21px
    &-text
      +regular
      max-width: 180px
      font-size: 14px
      line-height: 125%

@media (max-width: $md)
  .index-advantages
    &__item
      margin-bottom: 40px

@media (max-width: $xs)
  .index-advantages
    &__title
      padding-left: 10px
    .slick-slide
      margin: 0 5px

@media (max-width: 425px)
  .index-advantages
    &__title
      padding-left: 10px
      margin-bottom: 18px
      font-size: 26px
    &__desktop
      display: none
    &__mobile
      display: block
      &-main
        margin: 0 auto
      &-item
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        background: $near-white
        border-radius: 15px
        padding: 18px 18px

        min-height: 258px
        margin-right: 20px
        &-image
          max-width: 80px
        &-title
          font-size: 16px
          line-height: 125%
          +regular
          margin-bottom: 20px
        &-text
          +regular
          font-size: 12px
          line-height: 125%

@media (max-width: 375px)
  .index-advantages
    &__title
      padding-left: 10px
      margin-bottom: 18px
    &__desktop
      display: none
    &__mobile
      display: block
      &-main
        width: 100%
        margin: 0 auto
      &-item
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        background: $near-white
        border-radius: 15px
        padding: 18px 18px
        min-height: 258px
        margin-right: 20px
        &-image
          max-width: 80px
        &-title
          font-size: 16px
          line-height: 125%
          +regular
          margin-bottom: 20px

/*=================Advantages Block END ================*/



/*=================FAQ Block START ================*/
.index-faq
  &__head
    display: flex
    align-items: center
    margin-bottom: 40px
  &__title
    color: $blue
    font-size: 30px
    line-height: 31px
    +heavy
    margin-right: 20px
  &__btn
    +regular
    width: 169px
    height: 36px
    text-align: center
    font-size: 14px
    line-height: 16px
    &_desktop
      display: inline-flex
    &_mobile
      display: none
  &__item
    &-header
      display: flex
      align-items: baseline
      margin-bottom: 20px
      .active
    &-arrow
      margin-right: 20px
      transition: 0.5s ease
    &-title
      color: $black
      font-size: 20px
      +heavy
      line-height: 21px
      margin-bottom: 11px
      cursor: pointer
    &-content
      backface-visibility: hidden
      transform: translateZ(0)
      transition: all 0.5s
      max-height: 0
      overflow: hidden
      margin-bottom: 0
      margin-left: 36px
    &-answer
      color: $black
      font-size: 18px
      +regular
      line-height: 125%

.index-faq__item-header.active + .index-faq__item-content
  margin-bottom: 30px
  max-height: 500px

.index-faq__item-header.active .index-faq__item-arrow
  transform: rotate(90deg)

@media (max-width: $sm)
  .index-faq
    &__btn
      font-size: 11px

@media (max-width: $xs)
  .index-faq
    &__head
      display: flex
      flex-direction: column
      align-items: baseline
      margin-bottom: 35px
    &__title
      font-size: 26px
    &__btn
      font-size: 10px
      width: 135px
      height: 30px
      &_desktop
        display: none
      &_mobile
        display: inline-flex
        margin-bottom: 65px
    &__item
      &-answer
        font-size: 12px
        padding-right: 50px

      &-title
        font-size: 18px
        margin-bottom: 0
      &-content
        margin-left: 0
      &-arrow
        margin-right: 20px
      &-header
        flex-direction: row-reverse
        justify-content: space-between
        align-items: unset
        margin-bottom: 10px
    &__accordion
      margin-bottom: 35px
    

/*=================FAQ Block END ================*/


/*=================Clients Block START ================*/
.index-clients
  padding-bottom: 65px
  &__title
    color: $blue
    font-size: 30px
    line-height: 31px
    +heavy
    margin-bottom: 11px
  &__text
    color: $black
    +regular
    font-size: 18px
    line-height: 125%
    margin-bottom: 20px
  &__slider-container
    width: calc(100% + 52px)
    display: flex
    align-items: center
  &__slider
    width: 100%
    min-width: 25%
  &__slider-item
    max-width: 180px
    margin-right: 20px
    position: relative
  &__logo
    max-width: 160px
  &__btn
    +regular
    display: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    align-items: center
    justify-content: center
    border-radius: 25px
    text-transform: uppercase
    padding: 5px 15px
    font-size: 14px
    line-height: 125%
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
    border: none
  .slick-slide
    margin: 5px
  &__slider-next
    background: url('../img/long-arrow.svg')
    width: 52px
    min-width: 52px
    height: 55px
    border: 0
    background-size: contain
    background-color: transparent // for full hover on SVG
    z-index: 1 // for full hover on SVG
    transform: scale(-1, 1)
  .modal__container
    border-radius: 0
    overflow: visible
    .document
      overflow: hidden
  .modal__content
    > *
      width: 100%
  .bclean-modal__close-btn
    right: -44px
    top: -44px

.bclean-modal
  &__close-btn
    position: absolute
    border: 0
    background: url('/img/close.svg') no-repeat 50% 50%
    background-size: cover
    width: 54px
    height: 54px
    cursor: pointer

.index-clients__slider-item:hover 
  .index-clients__btn
    display: flex
.slick-next, 
  .slick-prev
    width: 53px
    height: 56px
.slick-prev
  left: -15px
.slick-next
  right: -15px

@media (max-width: $lg)
  .index-clients
    &__slider-item
        margin-right: 60px
        margin-left: 0
@media (max-width: 600px)
  .index-clients
    &__logo
      max-width: 140px
    &__slider
      &-item
        margin-right: 18px
@media (max-width: $xs)
  .index-clients
    margin-bottom: 45px
    &__logo
      max-width: 160px
    &__slider
      &-item
        margin-right: 18px
    &__slider-container
      width: 100%
    &__slider-next
      display: none
@media (max-width: 425px)
  .index-clients
    // padding-bottom: 65px
    &__title
      font-size: 26px
    &__text
      font-size: 12px
    &__slider
      &-item
        justify-content: center
        background-color: $near-white
        margin-right: 25px
        border-radius: 30px
        margin-left: 10px
@media (max-width: 375px)
  .index-clients
    &__logo
      max-width: 120px
    &__slider
      &-item
        width: 120px
        height: 120px
        justify-content: center
        background-color: $near-white
        margin-right: 10px
        margin-left: 0
        border-radius: 30px
    &__btn
      font-size: 12px
      line-height: 125%
      height: 44px

/*=================Clients Block END ================*/


/*=================Types Block START ================*/
.index-types
  background-color: $blue
  padding-top: 50px
  padding-bottom: 50px
  &__tabs
    display: flex
    height: 36px
    width: 100%
  &__first-tab
    width: 50%
    background-color: $blue
    color: $white
    border: 2px solid #FFFFFF
    +regular
    font-size: 12px
    line-height: 14px
    text-transform: uppercase
    padding: 0 14px
    border-top-left-radius: 25px
    border-bottom-left-radius: 25px
  &__second-tab
    width: 50%
    background-color: $blue
    color: $white
    border: 2px solid #FFFFFF
    +regular
    font-size: 12px
    line-height: 14px
    text-transform: uppercase
    padding: 0 14px
    border-top-right-radius: 25px
    border-bottom-right-radius: 25px
  &__icon
    margin-left: 20px
  &__wrapper
    display: flex
    align-items: center
    &_mobile
      display: none
      font-size: 12px
    &_not-mobile
      display: flex
  &__header-group
    display: flex
    align-items: center
  &__form
    height: 36px
    width: 100%
    .bclean-search
      height: 100%
  &__title
    font-size: 55px
    line-height: 57px
    +heavy
    color: $white
  &__slider
    margin-top: 42px
    width: 100%
    // min-width: calc(25% - 52px)
    max-width: calc(100% - 52px)
  &__slider-item
    display: flex
    flex-direction: column
    cursor: pointer
  &__slider-button
    background: url('../img/long-arrow-white.svg')
    width: 52px
    min-width: 52px
    height: 55px
    border: 0
    background-size: contain
    background-color: transparent // for full hover on SVG
    z-index: 1 // for full hover on SVG
  &__subtitle
    +heavy
    color: $white
    font-size: 20px
    line-height: 21px
    text-align: center
    margin-top: 11px
    margin-bottom: 11px
  &__price
    color: $white
    +regular
    font-size: 18px
    line-height: 18px
    display: flex
    justify-content: center
  &__mobile-tabs-row
    padding: 0 28px
    margin-top: 30px
  &__tab-content
    // margin: 0 -52px 0 0
    display: flex
    align-items: center
    width: calc(100% + 52px)
    &.tab.is-active
      display: flex
.tab
  display: none
.tab.is-active
  display: block
.index-types__tabs-item.is-active
  background-color: $white
  color: $blue

$types-slider-width: 52px
@media (max-width: $container-width + $types-slider-width)
  .index-types
    &__tab-content
      width: 100%

@media (max-width: $lg)
  .index-types
    &__wrapper
      margin-bottom: 20px
    &__img
      max-width: 220px
    &__header-group
      display: flex
      align-items: flex-end
      margin-bottom: 20px

@media (max-width: 991px)
  .index-types
    &__img
      width: 100%
    &__slider
        &-item
          display: flex
          flex-direction: column
          align-items: center
    &__header-group
      display: flex
      align-items: flex-end
      margin-bottom: 20px
      & a 
        width: 100%

@media (max-width: $sm)
  .index-types
    padding-bottom: 40px
    &__wrapper
      &:last-child
        margin-bottom: 0
      &_mobile
        display: flex
      &_not-mobile
        display: none
    &__tabs
      flex-direction: column
      width: 100%
      height: 64px
    &__first-tab
      width: 100%
      font-size: 12px
      border-radius: 15px 15px 0 0
      padding: 0
      height: 32px
      line-height: 32px
    &__second-tab
      width: 100%
      border-radius: 0 0 15px 15px
      font-size: 12px
      padding: 0
      height: 32px
      line-height: 32px
    &__title
      max-width: 208px
    &__form
      margin: 0 auto
    &__subtitle
      max-width: 210px
    &__slider-button
      display: none
    &__slider
      max-width: 100%
    &__header-group
      align-items: flex-end
      
/*=================Typess Block END ================*/



/*=================Testimotionals Block START ================*/
.index-testimonials
  $self: &
  padding-top: 65px
  padding-bottom: 65px
  &__top
    display: flex
    justify-content: space-between
    align-items: center
  &__rating
    font-size: 18px
  &__text
    +regular
    font-size: 14px
    line-height: 125%
    color: $white
  &__cleaner
    &-name
      text-decoration: underline
      cursor: pointer
  &__name
    line-height: 25px
    font-size: 14px
    color: $white
    +heavy
  &__subtext
    +regular
    font-size: 14px
    line-height: 14px
    color: $white
    margin-bottom: 20px
  &__wrapper
    display: flex
    align-items: center
    margin-bottom: 30px
  &__title
    +heavy
    font-size: 50px
    color: $blue
    line-height: 57px
  &__block
    display: flex
    flex-direction: column
    margin-left: 20px
    max-width: 380px
    background-color: $blue
    border-radius: 25px
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 30px
    padding-right: 30px
    &_gray
      background-color: $near-white
      color: $black
      #{ $self }__name
        color: $black
      #{ $self }__subtext
        color: $black
    &_closed
      #{ $self }__text
        display: none
    &:first-child
      margin-left: 0
  .slick-slide
    margin: 10px
  &__rating
    display: inline-flex
    // width: 100%
    .bclean-star
      height: 17px
      width: 17px
      background: url("../img/star-full.svg") center
      background-size: contain
    .bclean-star-outline
      height: 17px
      width: 17px
      background: url("../img/star-outline.svg") center
      background-size: contain
  &__slider-container
    display: flex
    width: calc(100% + 52px)
    align-items: center
  &__slider
    width: 100%
    min-width: 25%
  &__slider-next
    background: url('../img/slider-arrow-blue.svg')
    width: 52px
    min-width: 52px
    height: 55px
    border: 0
    background-size: contain
    background-color: transparent // for full hover on SVG
    z-index: 1 // for full hover on SVG

@media (max-width: $lg)
  .index-testimonials
    &__top
      flex-direction: column
      align-items: flex-start
      margin-bottom: 20px
    &__head
      max-width: 180px
    &__block
      margin-left: 20px

@media (max-width: $sm)
  .index-testimonials
    padding-top: 25px
    &__block
      display: inline-flex
      padding: 18px
      font-size: 12px
      max-height: 250px
      overflow: auto
      margin-right: 10px
      margin-left: 0
      margin: 0
    &__wrapper
      margin-bottom: 18px
    &__head
      max-width: 100%
    &__text
      font-size: inherit
    &__name
      font-size: 12px
    &__subtext
      font-size: 12px

@media (max-width: $xs)
  .index-testimonials
    &__slider-next
      display: none
    &__slider-container
      width: 100%



/*=================Testimotionals Block END ================*/


/*=================Promo Block START ================*/

=promo-block-card()
  display: flex
  flex-direction: column
  width: 220px
  height: 285px
  padding: 18px
  background-color: $near-white
  border-radius: 15px

.index-promo
  +regular
  padding-top: 65px
  padding-bottom: 30px
  &__title
    color: $blue
    line-height: 31px
    font-size: 30px
    +heavy
    margin-bottom: 19px
  &__numbers
    max-width: 280px
  &__text
    +regular
    font-size: 14px
    color: $black
    line-height: 14px
    margin-bottom: 35px
    max-width: 280px
    line-height: 125%
  &__description
    color: $dark-gray
    +regular
    font-size: 10px
    line-height: 125%
    max-width: 183px
    margin-left: 15px
    margin-top: 8px
  .row > *:first-child
    border-right: 1px solid $blue
  &__callback-form
    max-width: 360px
    height: 36px
    background: $form-light-blue
    font-size: 14px
  &__slider-mobile
    display: none
  &__reffering-form
    max-width: 243px
    height: 36px
    font-size: 14px
    margin-top: 35px
    margin-bottom: 6px
  &__reffering-form-input
    color: $black
    text-transform: uppercase
  &__reffering-form-copy-btn
    position: relative
  bclean-tooltip
    +regular
    width: 200px
    text-transform: none
    position: absolute
    left: 50%
    bottom: calc(32px + 25px)
    transform: translateX(-50%)
    padding: 15px 18px
    font-size: 14px
    line-height: 125%
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
    border-radius: 10px
    color: $black
    background: white
    transition: visibility 0.2s, opacity 0.2s linear
  &__percentage
    display: flex
    justify-content: space-between
    max-width: 280px
    margin-bottom: 35px
    &-first
      line-height: 125%
      +regular
      font-size: 14px
      color: $black
      &:first-child
        border-right: 1px solid $blue
        padding-right: 10px
  &__reffering-form-content-signed-in
    display: flex
  &__reffering-info-not-logged
    border: 2px solid #222222
    box-sizing: border-box
    border-radius: 25px
    padding: 12px 15px
    font-size: 14px
    line-height: 125%
    max-width: 255px
    a
      color: $black
      text-decoration: underline
  &__discount-message-not-logged
    border: 2px solid #222222
    box-sizing: border-box
    border-radius: 25px
    padding: 12px 15px
    font-size: 14px
    line-height: 125%
    max-width: 255px

body.is-logged-in
  .index-promo
    &__reffering-info-not-logged
      display: none
    &__discount-message-not-logged
      display: none

body:not(.is-logged-in)
  .index-promo
    &__reffering-form
      display: none
    &__discount-btn
      display: none
      
    
@media (max-width: $lg)
  .index-promo
    &__callback-form
      font-size: 12px
    &__reffering-form
      font-size: 12px


@media (max-width: $sm)
  .index-promo
    padding-top: 30px
    padding-bottom: 30px
    &__title
      color: $blue
      line-height: 31px
      font-size: 30px
      +heavy
      margin-bottom: 19px
    &__numbers
      max-width: 280px
    &__text
      +regular
      font-size: 14px
      color: $black
      line-height: 14px
      margin-bottom: 35px
      max-width: 280px
    &__callback-form
      // max-width: 220px
      font-size: 10px
    &__form
      max-width: 230px
    &__reffering-form
        max-width: 200px
    &__slider-mobile
      display: none
    .row > *:first-child
      border: none
    &__reffering
      color: $black
      margin-bottom: 35px
      &-form
        max-width: 230px
        margin-bottom: 6px
        font-size: 12px
    &__reffering-text
        margin-top: 13px
    &__percentage
      display: flex
      justify-content: space-between
      max-width: 280px
      margin-bottom: 35px
      &-first
        line-height: 125%
        +regular
        font-size: 14px
        color: $black
        &:first-child
          border-right: 1px solid $blue
          padding-right: 10px
    &__reffering-info-not-logged
      font-size: 12px
      padding: 8px 21px
      margin-top: 54px
    &__discount
      +promo-block-card
      display: none
      margin-bottom: 0
      .bclean-btn
        margin-top: 29px
        height: 32px
        font-size: 12px
    &__discount-message-not-logged
      font-size: 10px
      padding: 11px
      margin-top: 20px
      text-align: center


@media (max-width: $xs)
  .index-promo
    padding-top: 50px
    padding-bottom: 25px
    &__title
      margin-bottom: 8px
      font-size: 26px
      line-height: 26px
    &__numbers
      max-width: 280px
    &__phone
      max-width: 240px
      margin-bottom: 60px
      .index-promo__text
        margin-bottom: 20px
    &__text
      margin-bottom: 11px
    &__callback-form
      height: 30px
      font-size: 10px
    &__percentage
      flex-direction: column
      margin-bottom: 0
      flex-grow: 1
      justify-content: start
      &-first
        font-size: 10px
      &-first:first-child
        border: 0
        padding: 0
    &__reffering
      &-form
        height: 36px
        margin-bottom: 0
    &__card
      .btn__light
        font-size: 12px
    &__slider-mobile
      display: block
      .index-promo__card
        margin-right: 10px
        max-width: 220px
        width: 220px
      .index-promo__reffering
        display: flex
      .index-promo__discount
        display: flex
    &__reffering
      +promo-block-card
      display: none
      margin-bottom: 0
      .index-promo__reffering-form
        background: transparent
      .index-promo__reffering-text
        flex-grow: 1
        font-size: 12px
        line-height: 125%
      .index-promo__reffering-hint
        font-size: 8px
        margin: 8px 0 0 0

/*=================Promo Block END ================*/

.slick-initialized .slick-slide
  // display: flex
.slick-slide:not(.slick-active)
  opacity: .3












