.job-desc-page
    +regular
    margin-top: $header-height-desktop
    padding-top: 23px
    &__main
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%
    &__job-description
        width: 680px
        min-width: 457px
        margin-bottom: 55px
    &__job-apply
        width: 500px
        height: 480px
        padding: 28px
        flex-direction: column
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
        border-radius: 25px
        background: $white
    &__job-apply-banner
        margin-top: 55px
        width: 100%
        margin-bottom: 78px

.job-description
    +regular
    color: $black
    &__heading
        +heavy
        font-size: 45px
        color: $blue
        height: 61px
    &__type
        font-size: 18px
        color: #878787
        margin-bottom: 23px
    &__salary
        margin-bottom: 42px
        font-size: 18px

.job-description-block
    +regular
    display: inline-block
    margin-right: 20px
    &__heading
        +heavy
        font-size: 20px
        margin-bottom: 13px
    &__list
        line-height: 30px
        font-size: 18px
        & li:before
            content: "•";
            padding-right: 5px

.job-desc-blocks
    display: flex
    flex-wrap: wrap

.job-description-duties
    width: 320px
    height: 204px
    margin-bottom: 20px

.job-description-reqs
    width: 310px
    height: 204px
    margin-bottom: 20px

.job-description-terms
    width: 456px
    // height: 204px
    

.job-desc-job-apply
    &__header
        +heavy
        font-size: 30px
        color: $blue
        margin-bottom: 10px
    &__text
        font-size: 18px
        color: #878787
        margin-bottom: 16px

.job-desc-page-nav
    display: flex
    flex-wrap: wrap
    font-size: 18px
    margin-bottom: 20px
    &__link
        color: #878787
        margin-right: 36px
    &__job-name
        color: $black

.job-apply-banner
    +regular
    border-radius: 10px
    background: $blue
    color: $white
    // margin-bottom: 19px
    padding: 32px
    &__header
        +heavy
        font-size: 30px
    &__text
        display: inline-block
        font-size: 14px
        max-width: 314px
        margin-right: 253px
    &__phone-num
        display: inline-block
        font-size: 45px
    &__text-wrapper
        display: flex

.job-apply-form
    &__submit-btn
        width: unset


@media (max-width: $lg)
    .job-desc-page
        &__job-apply
            margin-bottom: 20px
    .job-apply-form
        &__submit-btn
            width: unset


@media (max-width: $sm)
    .job-desc-page
        margin-top: $header-height-sm
        padding-top: 25px
        &__job-description
            margin-bottom: 28px
        &__job-apply
            margin-bottom: 20px
            border-radius: 15px
            padding: 18px 19px
            box-shadow: none
            background: $near-white
            height: unset
        &__job-apply-form
            margin-bottom: 0
        &__job-apply-banner
            margin-top: 0
            margin-bottom: 26px
    .job-desc-page-nav
        display: flex
        flex-wrap: wrap
        font-size: 12px
        margin-bottom: 25px
    .job-description
        +regular
        color: $black
        &__heading
            font-size: 42px
            height: 33px
            margin-bottom: 20px
        &__type
            font-size: 12px
            margin-bottom: 22px
        &__salary
            font-size: 18px
            margin-bottom: 28px
    .job-description-block
        margin-right: 0
        &__heading
            font-size: 18px
            margin-bottom: 13px
        &__list
            line-height: 14px
            font-size: 12px
    .job-description-duties
        width: 100%
        margin-bottom: 20px
        height: unset
    .job-description-reqs
        width: 100%
        margin-bottom: 20px
        height: unset
    .job-description-terms
        width: 100%
        height: unset
    .job-apply-form
        &__submit-btn
            width: unset
            font-size: 10px
        &__sub
            font-size: 8px
    .job-desc-job-apply
        &__header
            font-size: 20x
        &__text
            font-size: 11px
    .job-apply-banner
        border-radius: 10px
        background: $blue
        color: $white
        margin-bottom: 19px
        padding: 18px 17px
        &__header
            font-size: 18px
            margin-bottom: 20px
        &__text
            display: block
            font-size: 12px
            margin-right: 0
            margin-bottom: 25px
        &__phone-num
            +heavy
            display: block
            font-size: 26px
        &__text-wrapper
            display: flex


@media (max-width: $xs)
    .job-desc-page
        padding-top: 25px
        &__job-description
            margin-bottom: 28px
        &__job-apply
            order: 2
            margin-bottom: 20px
            border-radius: 15px
            padding: 18px 19px
            box-shadow: none
            background: $near-white
            height: unset
        &__job-apply-form
            margin-bottom: 0
    .job-apply-banner
        border-radius: 10px
        background: $blue
        color: $white
        margin-bottom: 0
        padding: 18px 17px
        &__header
            font-size: 18px
            margin-bottom: 20px
        &__text
            display: block
            font-size: 12px
            margin-right: 0
            margin-bottom: 25px
        &__phone-num
            +heavy
            display: block
            font-size: 26px
        &__text-wrapper
            display: flex
    .job-desc-job-apply
        &__header
            font-size: 18px
            margin-bottom: 10px
        &__text
            font-size: 10px
    
    
    