.jobs-page
    +regular
    margin-top: $header-height-desktop
    padding-top: 42px
    padding-bottom: 100px
    font-size: 18px
    line-height: 125%
    color: $black
    &__header-main
        +heavy
        font-size: 55px
        color: $blue
        line-height: 125%
        max-width: 770px
        margin-bottom: 27px
    &__offer-text
        max-width: 360px
        margin-bottom: 50px
    &__advantages
        margin-bottom: 45px
    &__advantages-header
        +heavy
        font-size: 30px
        margin-bottom: 32px
    &__advantage-block
        +regular
        font-size: 18px
        color: $black
        margin-bottom: 20px
        h3
            +heavy
            font-size: 20px
            margin-bottom: 20px
        p
            line-height: 130%
        
.current-vacancies
    &-heading
        margin-bottom: 32px
        align-items: center
        .bclean-search
            height: 36px
    &__header
        +heavy
        font-size: 30px
        color: $blue
    &-list
    &-card
        +regular
        background: $near-white
        border-radius: 10px
        padding: 18px
        margin-bottom: 30px
        height: 110px
        display: flex
        flex-direction: column
        justify-content: space-between
        h1
            +heavy
            color: $black
        div
            font-size: 14px
            // line-height: 14px
            // line-height: 100%
            // height: 14px
        span
            position: relative
        span:not(:last-child)
            margin-right: 33px
            &::before
                content: '\2022'
                position: absolute
                right: -18px
                font-size: inherit
                line-height: inherit
    &-card-apply
        +regular
        position: relative
        background: $blue
        border-radius: 10px
        padding: 18px
        margin-bottom: 30px
        height: 110px
        h1
            +heavy
            color: $white
        button
            position: absolute
            bottom: 18px
            height: 30px
            font-size: 14px


@media (max-width: $sm)
    .jobs-page
        margin-top: $header-height-sm
    .current-vacancies
        &__header
            margin-bottom: 30px


@media (max-width: $xs)
    .jobs-page
        padding-top: 40px
        padding-bottom: 36px
        &__header-main
            font-size: 42px
        &__offer-text
            font-size: 16px
        &__advantages-header
            margin-bottom: 30px
            line-height: 30px
    .current-vacancies
        &-heading
            .bclean-search
                height: 32px
                font-size: 12px
        &__header
            font-size: 26px
            margin-bottom: 30px
        &-card
            margin-bottom: 10px
            h1
                font-size: 18px
            div
                font-size: 12px
                height: 12px
                line-height: 12px
            span
                position: relative
            span:not(:last-child)
                margin-right: 33px
                &::before
        &-card-apply
            margin-bottom: 0
            button
                font-size: 10px
    


/*====== Job apply modal and form START ======*/
.job-apply-modal
    +regular
    width: 500px
    max-width: 500px
    padding: 28px
    flex-direction: column
    &__header
        +heavy
        font-size: 30px
        color: $blue
        margin-bottom: 10px
    &__text
        font-size: 18px
        color: #878787
        margin-bottom: 16px

.job-apply-form
    width: 380px
    max-width: 380px
    display: flex
    flex-wrap: wrap
    position: relative
    &__field-group
        width: calc(50% - 8px)
        margin-bottom: 13px
        &_padded-right
            margin-right: 16px
        &:last-child
            margin-right: 0
        label
            +heavy
            display: block
            font-size: 14px
            margin-left: 16px
            width: 100%
            margin-bottom: 6px
        &_full-width
            width: 100%
            margin-right: 0
    &__input
        border-radius: 10px
        height: 45px
        width: 100%
        padding: 15px 17px
        font-size: 14px
        &::placeholder
            font-size: 14px
            color: $dark-gray
    &__submit-btn
        margin-top: 13px
        margin-bottom: 13px
        font-size: 14px
        min-width: 121px
    &__sub
        font-size: 10px
        max-width: 344px
        line-height: 125%
        color: #aeaeae

@media (max-width: $xs)
    .job-apply-modal
        width: calc(100% - 20px)
        padding: 19px
        &__header
            font-size: 18px
            margin-bottom: 10px
        &__text
            font-size: 10px
            margin-bottom: 20px
    .job-apply-form
        width: 100%
        margin-bottom: 20px
        &__field-group
            width: 100%
            margin-bottom: 20px
            &_padded-right
                margin-right: 0
            label
                font-size: 12px
                margin-left: 0
                margin-bottom: 9px
        &__input
            height: 42px
            padding: 14px 17px
            font-size: 12px
            &::placeholder
                font-size: 12px
        &__submit-btn
            width: 96px
            height: 30px
            font-size: 10px
        &__sub
            font-size: 8px


/*====== Job apply modal and form END ======*/


