.map
  padding-top: 228px
  padding-bottom: 70px
  min-height: calc(100vh - 403px)
  &__main
    +heavy
    +rfs(30px)
    color: $black
    line-height: 31px
    margin-bottom: 21px
  &__wrapper
    display: flex
    flex-direction: column
  &__submain
    +regular
    +rfs(30px)
    color: $black
    line-height: 31px
  &__link
    +rfs(14px)
    +regular
    line-height: 125%
    color: $black
  &__block
    margin-left: 45px
  &__services
    display: block
    margin-top: 26px
    margin-bottom: 20px
    +rfs(18px)
    +regular
    line-height: 125%
    color: $black
  &__living
    display: block
    margin-bottom: 10px
  &__not-living
    display: block
    margin-top: 40px
    margin-bottom: 10px
  &__questions
    margin-top: 32px
    margin-bottom: 10px
  &__grades
    margin-top: 32px
    margin-bottom: 21px
  &__suggestion
    margin-top: 32px
@media (max-width: 425px)
  .map
    padding-top: 90px
    padding-bottom: 70px
    min-height: calc(100vh - 403px)
    &__main
      +heavy
      +rfs(26px)
      color: $black
      line-height: 31px
      margin-bottom: 21px
    &__wrapper
      display: flex
      flex-direction: column
    &__submain
      +regular
      +rfs(25px)
      color: $black
      line-height: 31px
    &__link
      +rfs(12px)
      +regular
      line-height: 125%
      color: $black
    &__block
      margin-left: 25px
    &__services
      display: block
      margin-top: 26px
      margin-bottom: 20px
      +rfs(18px)
      +regular
      line-height: 125%
      color: $black
    &__living
      display: block
      margin-bottom: 10px
    &__not-living
      display: block
      margin-top: 40px
      margin-bottom: 10px
    &__questions
      margin-top: 32px
      margin-bottom: 10px
    &__grades
      margin-top: 32px
      margin-bottom: 21px
    &__suggestion
      margin-top: 32px
