.orders
  min-height: calc(100vh - 403px)
  padding-top: 219px
  padding-bottom: 95px

  .row
    margin: auto

  .custom-select

    .custom-select-trigger
      min-height: 20px
      max-height: 20px
      width: 83px
      overflow: hidden
      padding-right: 25px
      padding-left: 8px
      padding-top: 3px
      padding-bottom: 3px
      margin-right: 4px
      text-overflow: ellipsis
      font-size: 12px
      line-height: 100%

    .custom-options
      padding: 9px 11px
      margin-top: 5px
      &::before
          display: none

    .custom-select-trigger::after
        background: url('../img/dropdown-arrow.svg') center
        transform: none
        border: none
        margin-top: -7px

    .custom-select.opened .custom-select-trigger::after
        transform: rotate(180deg)
        margin-top: 7px

  &__order-item-controls
    .btn
      box-shadow: none
  
  &__right-side
    margin: auto

  &__pay-card
    padding: 17px
    background-color: $near-white
    border-radius: 10px
    width: 100%
    max-width: 274px

  &__money-block
    padding: 0 30px
    width: 100%
    max-width: 440px

  &__cleaner-name
    border: 2px solid #222222
    border-radius: 10px
    width: 100%
    max-width: 380px
    min-height: 45px
    padding: 15px 17px

  &__saved-tab
    background: $near-white
    border-radius: 15px
    width: 100%
    min-height: 1237px
    margin-top: 45px
    padding: 26px 30px

  &__additional-column
    width: calc(50% - 8px)

  &__count
    width: 78px
    height: 78px
    background: $white
    border-radius: 15px
    padding: 9px 10px

    &_active
      background-color: $blue !important

      .text
        color: $white

    .text
      text-align: center

  &__address-item
    width: calc(50% - 8px)
    height: 60px
    padding: 10px
    background-color: $white
    border-radius: 15px

    &_active
      background-color: $blue !important

      .text
        color: $white

  &__address-date-input
    width: 100%
    max-width: 400px
    background: none

  &__tab-control-btn
    border: 2px solid #258DDD
    box-sizing: border-box
    background: none
    padding: 9px 13px 8px
    font-size: 14px
    text-transform: uppercase
    color: $blue

    &_left
      border-radius: 50px 0 0 50px

    &_right
      border-radius: 0 50px 50px 0

    &_active
      background-color: $blue !important
      color: $white

  &__order-item
    width: 100%
    background-color: $near-white
    border-radius: 15px
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12)
    padding: 20px 23px
    min-height: 158px
    position: relative

    &-bot-block
      background: #E3E3E3
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12)
      border-radius: 15px
      width: 94%
      height: 60px
      position: absolute
      bottom: -13px
      left: 3%
      z-index: -1

      &_cut
        width: 90%
        left: 5%
        bottom: -24px
        z-index: -2

  &__history
    margin-top: 115px

  &__order-list
    img
      width: 100%

@media (max-width: 575px)
  .orders
    padding-top: 75px

    .hdr_l
      font-size: 26px

    .row
      margin-left: 0
      margin-right: 0
      padding-left: 0
      padding-right: 0

    &__saved-tab
      padding: 0
      background: none

    &__address-item
      width: 100%
      background-color: $near-white
      height: 70px
      padding: 18px

      .text
        font-size: 16px

    &__tab-control

      &-btn
        width: 100%

        &_left
          border-radius: 15px 15px 0 0

        &_right
          border-radius: 0 0 15px 15px

    &__date-container,
    &__additional,
    &__date-container,
    &__count-container
      background-color: $near-white
      border-radius: 15px
      padding: 18px

    &__additional-column
      width: 100%

    &__count
      width: 100%
      height: 44px

      .text
        font-size: 12px
        text-align: left

    &__cleaner-list
      width: 100%

    &__cleaner-item
      width: 100%
      margin-top: 15px

      &:first-child
        margin-top: 0

        .text
          color: $black

      .text
        color: $very-dark-gray

    &__cleaner-list-splitter
      margin: 10px 0 15px
      width: 100%
      height: 2px
      background-color: $black

    &__money-block
      padding: 0

    &__pay-card
      max-width: unset

    &__save-pay
      width: 100%

    &__order-item
      position: relative
      padding: 18px

    &__history-info
      flex-flow: column

    &__history-address
      flex-flow: column-reverse

      .text
        font-size: 16px

      &-text
        margin-top: 45px

    &__history-price
      position: absolute
      right: 18px
      top: 18px
      flex-flow: column-reverse
      align-items: flex-end

      .text_xl
        font-size: 16px

      .text_m
        color: $new-gray
        font-size: 12px

    &__order-item-controls
      .btn
        font-size: 10px
        box-shadow: none