/*=================Policy Page START ================*/
.policy
  padding-top: 198px
  padding-bottom: 75px
  &__list
    list-style: disc
    margin-left: 18px
    &-item
      color: $black
      line-height: 125%
      +rfs(18px)
      +regular
      margin-bottom: 20px
  &__email
    color: $blue
  &__title
    color: $blue
    +rfs(45px)
    line-height: 47px
    +heavy
    margin-bottom: 24px
  &__text
    max-width: 580px
    color: $black
    line-height: 125%
    +rfs(18px)
    +regular
  &__link
    color: $blue
  &__subtitle
    color: $black
    +heavy
    +rfs(20px)
    line-height: 21px
    margin-bottom: 8px
  &__type
    color: $blue
@media (max-width: 1199px)
  .policy
    padding-top: 100px
@media (max-width: 575px)
  .policy
    padding-top: 100px
    &__title
      +rfs(26px)
      line-height: 27px
    &__text
      +rfs(12px)
    &__subtitle
      +rfs(18px)
    &__email
      +rfs(12px)
    &__list
      &-item
        +rfs(12px)
        margin-bottom: 10px
/*=================Policy Page END ================*/