.reviews
  min-height: calc(100vh - 403px)
  padding-top: 219px
  padding-bottom: 95px

  &__btn
    margin: 0 auto
    
  &-select

    &-wrapper
      margin: 20px
      margin-top: 0

  &__title
    margin-bottom: 12px

  &__subtitle
    display: block
    line-height: 125%
    +rfs(18px)
    +regular
    color: $black
    margin-bottom: 37px

  &__block
    max-width: 380px
    display: flex
    flex-direction: column

    &-item
      margin: 0
      margin-bottom: 20px
      padding: 18px 30px

  &__own-form
    background: $near-white
    border-radius: 25px
    padding: 28px 31px
    margin-top: 17px

  &__own-text-area
    margin-bottom: 32px
    position: relative
    display: block

    &-block
      position: relative

      &::after
        content: ""
        width: 18px
        height: 18px
        background: $near-white url("/img/arrow-south-north.svg") no-repeat
        bottom: 3px
        right: 3px
        position: absolute
        display: block
        border-radius: 18px

  &__own-input
    margin-bottom: 32px

  &__own-rating
    font-size: 27px

@media (max-width: 575px)
  .reviews
    padding-top: 100px

    &-select-wrapper
      margin-left: 0

    &__own-form
      padding: 18px

    .modal__container
      width: calc(100% - 20px)

      .btn__blue
        height: 42px
