.settings
  min-height: calc(100vh - 403px)
  padding-top: 219px
  padding-bottom: 95px

  &__container
    display: flex
    align-items: center
    flex-flow: column

  &__address

    &-switch
      margin-top: 10px

      &-live
        margin: -12px -6px 0 0

      &-unlive
        margin: -12px 0 0 -6px

    &-remove
      margin: -4px -12px 0 0

    &-form
      margin-top: 10px

      &-main-input
        width: 280px

      &-sub
        margin-top: -22px

        &-input
          width: 102px

    &-flat-details
      margin-top: 16px
      display: flex

    &-increment
      display: flex
      flex-flow: column
      align-items: center

    &-devices
      margin-left: 20px

      &-text
        margin-left: 6px

    &-comment
      width: 280px

  &__card
    margin-bottom: 10px

    &-item
      width: 344px
      height: 63px
      border-radius: 10px
      background-color: $near-white
      padding: 17px 

    &-number
      +regular
      +rfs(12px)
      color: $black

    &-ms-image
      margin-bottom: 3px
      
    &-radio-text
      +regular
      +rfs(10px)
      color: $black
      line-height: 12px
      margin-top: 2px

    &-controls
      display: flex
      flex-direction: column
      justify-content: space-between
      padding-left: 5px

      &-btn
        margin-top: -12px

  &__accordion
    width: 500px

    &-item
      background: $white
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
      border-radius: 25px
      margin-bottom: 30px
      padding: 16px 29px
    
    &-arrow
      width: 15px
      height: 15px

    &-header
      height: 52px
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between

    &-content
      margin-bottom: 16px

      &:nth-last-child(2)
        margin-bottom: 25px

      &_cut
        max-width: 380px
        display: flex
        justify-content: space-between

    &-input
      max-width: 180px

@media (max-width: 575px)
  .settings
    padding: 80px 10px 10px

    &__hdr
      display: none

    .hdr_l
      font-size: 26px

    .hdr_s
      font-size: 18px

    &__address
      &-remove
        margin-top: 25px
      
      &-form
        &-main-input
          width: 100%

    &__btn-mobile
      min-width: 100px
      height: 30px
      font-size: 10px
      line-height: 10px

    &__card-mobile

      &-check
        width: 112px
        padding: 9px 0px 9px 9px

        .text
          right: 0
          padding-left: 6px

      &-var-input
          width: calc(100% - 112px)
      
      &-header
        .btn
          font-size: 16px

    &__accordion
      width: 100%

      &-header
        height: unset

      &-item
        padding: 18px

      &-input
        width: 100%
        max-width: unset
