.types-page
    +regular
    padding-top: 219px
    padding-bottom: 95px
    .types-page__heading-row
        margin-bottom: 40px
    .types-page__title
        +rfs(55px)
        line-height: 57px
        +heavy
        color: $blue
    .types-page__search
        width: 280px
        min-height: 40px
        border: 2px solid $blue
        border-radius: 25px
        display: flex
        align-items: center
        padding-left: 14px
        margin-bottom: 0
        &-input
            width: 230px
            vertical-align: middle
            border: none
            outline: none
            background-color: transparent
            color: $white
            &::placeholder
                +regular
                line-height: 14px
                +rfs(14px)
                color: $white
                text-transform: uppercase
        &-submit
            border: none
            outline: none
            width: 20px
            height: 20px
            background: url(../img/search-white.svg) no-repeat 50% 50%
    .types-page__tab
        color: $blue
        background-color: $white
        &_first
            background-color: $white
            color: $blue
            border: 2px solid $blue
            +regular
            +rfs(12px)
            line-height: 14px
            text-transform: uppercase
            padding: 12px 13px 10px 13px
            border-top-left-radius: 25px
            border-bottom-left-radius: 25px
        &_second
            background-color: $white
            color: $blue
            border: 2px solid $blue
            +regular
            +rfs(12px)
            line-height: 14px
            text-transform: uppercase
            padding: 12px 13px 10px 13px
            border-top-right-radius: 25px
            border-bottom-right-radius: 25px
        &.is-active
            background-color: $blue
            color: $white
    .types-page__search-input
        color: $blue
        &::placeholder
            color: $blue
    .types-page__search-submit
        background: url(../img/search-blue.svg) no-repeat 50% 50%
    .types-page__item-img
        +flex-centering
        img
            max-width: 100%
            max-height: 100%

.types-page__qualities
    margin-top: 40px
    margin-bottom: 40px
.types-page__quality
    line-height: 125%
    font-size: 14px
    h1
        color: $blue
        +heavy
        font-size: 20px
        margin-bottom: 10px
        line-height: 100%
.types-page__tabs
    display: flex
    margin-bottom: 10px
.types-page__form
    margin: 0 auto


.types-page
    &__usluga
        &-info
            cursor: pointer
        &-head
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 11px
            max-width: 280px
        &-title
            color: $black
            +heavy
            18px
            line-height: 21px
        &-price
            color: $black
            +regular
            18px
            line-height: 125%
            margin-bottom: 24px
            display: block
        &-text
            +regular
            line-height: 125%
            +rfs(14px)
            color: $black
            max-width: 280px

.services
    display: flex
    flex-direction: column
    margin-top: 114px
    margin-bottom: 39px
    &__title
        color: $blue
        +heavy
        +rfs(45px)
        line-height: 47px
        margin-bottom: 18px
    &__text
        max-width: 380px
        line-height: 125%
        +rfs(14px)
        +regular
        color: $black
    &__info
            display: flex
            flex-direction: column
            margin-left: 15px
            &-title
                +heavy
                color: $black
                line-height: 21px
                +rfs(20px)
                margin-bottom: 8px
            &-price
                line-height: 125%
                +rfs(14px)
                +regular
                color: $black
    &__item

        &-wrapper
            background-color: $near-white
            border-radius: 15px
            padding: 20px 11px
            display: flex
            align-items: center
            margin-bottom: 20px

.types-page__callback-form
    display: flex
    align-items: center
    .callback-form-title
        margin-bottom: 20px
    .callback-form-text
        margin-bottom: 30px

.service-grid-row
    margin-bottom: 100px

.types-page__service-row
    color: $black
    font-size: 14px
    .types-page__service-row-title
        +heavy
        color: $blue
        font-size: 45px
        margin-bottom: 18px
        width: 100%
    .types-page__service-row-desc
        min-width: 381px
        line-height: 125%
        margin-right: 100%
        margin-bottom: 40px

.types-page__service-card
    background-color: $near-white
    padding: 11px 32px 8px 11px
    border-radius: 15px
    margin-bottom: 20px
    h1
        +heavy
        font-size: 20px
        margin-bottom: 8px
    ul
        font-size: 10px
        line-height: 125%
        margin-bottom: 8px
        font-weight: normal
    .types-page__service-card-price
        font-size: 14px

.types-page__tab-content
    display: none
    &.is-active
        display: block

@media (max-width: $mobile)
    .types-page
        padding-bottom: 40px
        padding-top: 100px
        .types-page__wrapper
            &:last-child
                margin-bottom: 0
        .types-page__tabs
            flex-direction: column
            width: 100%
        .row:first-child
            margin-bottom: 20px
        .types-page__usluga-head
            max-width: 100%
        .types-page__usluga-title
            font-size: 18px
            line-height: 18px
            margin-right: 10px
        .types-page__usluga-info
            display: none
        .types-page__usluga-order-btn
            background-color: $light-blue
            padding: 12px 14px
            border-radius: 20px
            text-decoration: none
            color: $black
            font-size: 10px
            text-transform: uppercase
        .types-page__usluga-text
            font-size: 12px
            max-width: 250px
        .types-page__tab_first
            font-size: 12px
            border-radius: 15px 15px 0 0
        .types-page__tab_second
            font-size: 12px
            border-radius: 0 0 15px 15px
        .services__item-wrapper
            flex-direction: column
            padding: 11px
            align-items: flex-start
            img
                width: 100%
                margin-bottom: 14px
            .services__info
                margin-left: 0
            .services__info-title
                font-size: 12px
            .services__info-price
                font-size: 10px
        .types-page__title
            max-width: 208px
        .types-page__form
            width: 100%
            margin: 0 auto
        .types-page__search
            width: 100%
            font-size: 12px
            height: 32px
            min-height: 32px
            border-width: 2px
            .types-page__search-input
                flex-grow: 1
                font-size: 12px
            .types-page__search-input::placeholder
                font-size: 12px
            .types-page__search-submit
                margin: 10px
        .types-page__callback-form
            margin-top: 60px
        .types-page__qualities
            font-size: 12px
        .types-page__service-card-price
            font-size: 12px
        .types-page__service-card
            h1
                font-size: 18px

@media (min-width: $mobile)
    .types-page
        .types-page__usluga-order-btn
            display: none

@media (min-width: $mobile) and (max-width: $desktop)
    .types-page__callback-form
        margin-top: 60px

@media (max-width: $desktop)
    .types-page__title
        margin-bottom: 40px
    .types-page__qualities div
        margin-top: 35px
    .types-page__qualities div:first-child
        margin-top: 0