<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <ul class="footer__links-left">
            <li class="footer__link-left">
              <a href="#" class="footer__link-item-left">Уборка жилых <br> помещений</a>
            </li>
            <li class="footer__link-left">
              <a href="#" class="footer__link-item-left">Уборка нежилых <br> помещений</a>
            </li>
            <li class="footer__link-left">
              <a href="#" class="footer__link-item-left">Работа</a>
            </li>
            <li class="footer__link-left">
              <a href="#" class="footer__link-item-left footer__link-item-small">Актуальные вакансии</a>
            </li>
            <li class="footer__link-left">
              <a href="#" class="footer__link-item-left footer__link-item-small">Стать клинером</a>
            </li>
          </ul>
          <div class="footer__partner">
            <img src="img/aig.png" alt="aig" class="footer__partner-item">
            <span class="footer__partner-text">Гражданская ответственность
              и ответственность за качество
              услуг застрахована</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <ul class="footer__links-central">
            <li class="footer__link-central">
              <a href="#" class="footer__link-item-central">Отзывы</a>
            </li>
            <li class="footer__link-central">
              <a href="#" class="footer__link-item-central">Вопросы</a>
            </li>
            <li class="footer__link-central">
              <a href="map.html" class="footer__link-item-central">Карта сайта</a>
            </li>
            <li class="footer__link-central">
              <a href="#" class="footer__link-item-central">Оплата</a>
            </li>
          </ul>
          <div class="footer__pay">
            <img src="img/mastercard.svg" alt="MasterCard" class="footer__pay-item">
            <img src="img/visa.svg" alt="Visa" class="footer__pay-item">
            <img src="img/mir.svg" alt="Mir" class="footer__pay-item">
          </div>
          <div class="footer__partner">
            <img src="img/ultima_white.png" alt="aig" class="footer__partner-item">
            <span class="footer__partner-text">Bclean работает на Ultima eCommerceERP</span>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
          <ul class="footer__links-right">
            <li class="footer__link-right">
              <a href="#" class="footer__link-item-right">Контакты</a>
            </li>
            <li class="footer__link-right">
              <a href="tel:+74952868707" class="footer__link-item-right footer__link-item-small footer__contact">+7 (495) 286 87 07</a>
            </li>
            <li class="footer__link-right">
              <a href="mailto:info@bclean.ru?subject=Вопрос по Bclean" class="footer__link-item-right footer__link-item-small footer__contact">info@bclean.ru</a>
            </li>
          </ul>
          <div class="footer__partner">
            <img src="img/ultima_white.png" alt="aig" class="footer__partner-item">
            <span class="footer__partner-text">Внедряющий партнер
              RetailMakers</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 offset-lg-1">
          <img src="img/logo-white.svg" alt="BClean" class="footer__logo img-fluid">
          <div class="footer__company">
            <span class="footer__company-item">bclean.ru © 2012–2020</span>
            <a href="" class="footer__company-item">Пользовательское согласешние</a>
            <a href="" class="footer__company-item">Политика обработки персональных данных</a>
          </div>
        </div>
      </div>
      <div class="row footer__company-mobile">
        <div class="col-12">
          <div class="footer__company-xs">
            <span class="footer__company-xs-item">bclean.ru © 2012–2020</span>
            <a href="" class="footer__company-xs-item">Пользовательское согласешние</a>
            <a href="" class="footer__company-xs-item">Политика обработки персональных данных</a>
          </div>
        </div>
      </div>
    </div>
</footer>



<script src="js/libs.js"></script>
<script src="js/main.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(".calc-form-timepicker-field").length && $(".calc-form-timepicker-field").datetimepicker({
      timepicker:false,
      // opened: true,
      todayButton: false,
    });
    $('.xdsoft_datepicker').append(
      `<div class="xdsoft-bottom-bar">
        <div>
        <span class="xdsoft-bottom-bar__label">Выберите время: </span>
        <select name="time" id="calc-time" class="custom-select sources" placeholder="12.00">
          <option value="12">12.00</option>
          <option value="14">14.00</option>
          <option value="16">16.00</option>
          <option value="18">18.00</option>
        </select>
        </div>
      </div>`
    );
    $.datetimepicker.setLocale('ru');
</script>
</body>
</html>