<header class="header">
  <div class="container">
    <div class="header__body">
      <!-- HEADER TOP START -->
      <div class="header__top">
        <div class="header__top-wrapper-left">
          <a href="#" class="header__logo">
            <img src="/img/logo.svg" alt="Logo" class="header__logo-image" />
          </a>
          <a href="tel:+74952868707" class="header__phone"
            >+7 (495) 286-87-07</a
          >
        </div>
        <div class="header__top-wrapper-right">
          <a
            href="#"
            class="header__top-btn"
            data-micromodal-trigger="callback-modal"
          >
            Заказать звонок
          </a>
          <div class="header__top-user">
            <a
              href="#"
              class="header__notification-btn header__top-user-notification tooltip tooltip_bot tooltip_no-arrow"
            >
              <img
                src="/img/notification.svg"
                alt="Notification"
                class="header__top-user-notification-image"
              />
              <span class="tooltip__container">
                <span class="tooltip__content tooltip__content_wide">
                  <span
                    class="hdr hdr_s d-flex justify-content-between align-items-center"
                  >
                    Lorem ipsum dolor sit amet,
                    <img
                      src="/img/notification.svg"
                      alt="Notification"
                      class="header__top-user-notification-image mt-n1"
                    />
                  </span>
                  <br />
                  <span class="text text_m">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </span>
                </span>
              </span>
            </a>
            <a href="#" class="header__top-user-profile header__user-name"></a>
          </div>
          <a
            class="header__login-btn header__top-login-btn"
            href="#"
            data-micromodal-trigger="login-modal"
          >
            <img
              src="/img/login.svg"
              alt="Log in"
              class="header__top-user-login-image"
            />
          </a>
          <a class="header__top-logout header__logout-btn" href="#">
            <img
              src="/img/logout.svg"
              alt="Log out"
              class="header__top-user-logout-image"
            />
          </a>
        </div>
        <div class="header__burger">
          <span></span>
        </div>
        <button class="header__close"></button>
      </div>
      <!-- HEADER TOP END -->

      <!-- HEADER BOTTOM -->
      <div class="header__bottom">
        <nav class="header__menu">
          <ul class="header__list">
            <li>
              <a href="#" class="header__link header__link-residential">
                <img
                  src="/img/dropdown.svg"
                  alt="Dropdown"
                  class="header__link-image"
                />
                <span class="header__link-text">Уборка жилых помещений</span>
              </a>
            </li>
            <li>
              <a href="#" class="header__link header__link-non-residential">
                <img
                  src="/img/dropdown.svg"
                  alt="Dropdown"
                  class="header__link-image"
                />
                <span class="header__link-text">Уборка нежилых помещений</span>
              </a>
            </li>
            <li>
              <a href="#" class="header__link">
                <span class="header__link-text">Вопросы</span>
              </a>
            </li>
            <li>
              <a href="#" class="header__link">
                <span class="header__link-text">Отзывы</span>
              </a>
            </li>
          </ul>
        </nav>
        <form class="header__form">
          <div class="bclean-search header__search">
            <input
              type="search"
              name=""
              class="bclean-search-input"
              placeholder="Поиск"
            />
            <input
              type="submit"
              value=""
              class="bclean-search-submit header__search-submit"
            />
          </div>
        </form>
      </div>
    </div>

    <div class="header__mobile-menu">
      <a class="header__login-btn" href="#">
        <img src="/img/login.svg" alt="Log in" />
      </a>
      <a class="header__logout-btn" href="#">
        <img src="/img/logout.svg" alt="Log out" />
      </a>
      <a href="#" class="header__user-profile-btn header__user-name"></a>
      <a class="header__notification-btn" href="#"></a>
      <div class="bclean-search header__search-mobile">
        <input
          type="search"
          name=""
          class="bclean-search-input header__search-mobile-input"
          placeholder="Поиск"
        />
        <input
          type="submit"
          value=""
          class="bclean-search-mobile-submit header__search-submit"
        />
      </div>
      <div class="header__notification-popup"></div>
    </div>

    <!-- HEADER DROPDOWN START -->
    <div class="row header__dropdown">
      <!-- RESIDENTIAL CONTENT: -->
      <div class="col-12">
        <div
          class="row header__dropdown-content header__dropdown-content-residential header__tab"
          data-name="residential"
        >
          <div
            class="col-xl-3 col-md-6 header__residential-column header__column-1"
          >
            <h1>Виды уборок</h1>
            <ul class="header__dropdown-content-list-residential-1">
              <li>Разовая уборка квартиры</li>
              <li>Уборка после вечеринки</li>
              <li>Уборка коттеджей</li>
              <li>Уборка квартир Генеральная уборка</li>
              <li>Уборка домов Срочная уборка квартиры</li>
              <li>Уборка с помощью парогенератора</li>
            </ul>
            <a class="bclean-btn-outline bclean-btn-outline_blue">
              Прочитать об уборках
            </a>
            <p class="header__sub">
              Выберите вид уборки, чтобы увидеть какие услуги в него входят.
              Также вы можете найти подходящий вид яс помощью калькулятора
            </p>
          </div>
          <div
            class="col-xl-5 col-md-6 header__residential-column header__column-2"
          >
            <h1>Услуги</h1>
            <ul class="bclean-list bclean-list_two-cols">
              <li>Уборка кухни</li>
              <li>Глажка белья</li>
              <li>Уборка на балконе</li>
              <li>Чистка микроволновки</li>
              <li>Стирка белья</li>
              <li>Мытьё холодильника</li>
              <li>Уборка внутри кухонных шкафов</li>
              <li>Мытьё кухонной вытяжки</li>
              <li>Мытьё посуды</li>
              <li>Чистка духовки</li>
              <li>Отмывка и химчистка поверхностей</li>
              <li>Уборка комнаты</li>
              <li>Уборка ванной комнаты</li>
              <li>Уборка гостинной</li>
              <li>Уборка детской</li>
              <li>Уборка коридора</li>
              <li>Мойка зеркал</li>
            </ul>
            <a class="bclean-btn-outline bclean-btn-outline_blue">
              Прочитать об уборках
            </a>
          </div>
          <div
            class="col-xl-4 col-md-6 header__residential-column header__column-3"
          >
            <h1>Сколько это стоит</h1>
            <form class="residential-price-form">
              <input
                id="residential-price-form__service"
                class="bclean-input-outline bclean-input-outline_light-blue"
                type="text"
                value="разовая уборка квартиры"
                disabled
              />
              <div class="residential-price-form__inputs-container">
                <div class="residential-price-form__col">
                  <label for="residential-price-form__rooms">Комнат</label>
                  <div
                    class="increment increment_blue bclean-input-num-outline bclean-input-num-outline_light-blue"
                  >
                    <button class="increment__btn bclean-input-num-outline__plus mt-0">+</button>
                    <input
                      id="residential-price-form__rooms"
                      type="text"
                      value="0"
                      class="increment__input mt-1"
                      disabled
                    />
                    <button class="increment__btn bclean-input-num-outline__minus mt-0">-</button>
                  </div>
                </div>
                <div class="residential-price-form__col">
                  <label for="residential-price-form__restrooms"
                    >Санузлов</label
                  >
                  <div
                    class="increment increment_blue bclean-input-num-outline bclean-input-num-outline_light-blue"
                  >
                    <button class="increment__btn bclean-input-num-outline__plus mt-0">+</button>
                    <input
                      id="residential-price-form__restrooms"
                      type="text"
                      value="0"
                      class="increment__input mt-1"
                      disabled
                    />
                    <button class="increment__btn bclean-input-num-outline__minus mt-0">-</button>
                  </div>
                </div>
                <div class="residential-price-form__col">
                  <label>Примерно</label>
                  <span class="residential-price-form__total-wrapper">
                    <span class="residential-price-form__total">1750</span>
                    &nbsp₽
                  </span>
                </div>
                <div class="residential-price-form__col">
                  <span></span>
                  <button
                    class="bclean-btn residential-price-form__order-btn"
                    type="submit"
                  >
                    Заказать
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- NON RESIDENTIAL CONTENT: -->
      <div class="col-12">
        <div
          class="row header__dropdown-content header__tab"
          data-name="non-residential"
        >
          <div
            class="col-xl-4 col-md-6 header__non-residential-column header__non-residential-column-1"
          >
            <h1>Виды уборок</h1>
            <ul class="header__dropdown-content-list">
              <li>Уборка административных помещений</li>
              <li>Уборка банков</li>
              <li>Уборка предприятий общественного питания</li>
              <li>Уборка вертолетных площадок</li>
              <li>Уборка заводов</li>
              <li>Уборка арендуемых помещений</li>
              <li>Уборка бассейна</li>
              <li>Уборка бизнес-центров</li>
              <li>Уборка кинотеатров</li>
              <li>Уборка помещений медицинских учреждений</li>
              <li>Уборка помещений общего пользования</li>
              <li>Уборка общественных помещений</li>
              <li>Уборка парикмахерской</li>
              <li>Уборка парковок подземного паркинга</li>
              <li>Уборка подвалов</li>
              <li>Уборка подсобных помещений</li>
            </ul>
            <p class="header__sub header__nr-2-sub">
              Выберите вид уборки, чтобы увидеть какие услуги в него входят.
              Также вы можете найти подходящий вид яс помощью калькулятора
            </p>
          </div>
          <div
            class="col-xl-4 col-md-6 header__non-residential-column header__non-residential-column-2"
          >
            <ul
              class="header__dropdown-content-list header__dropdown-content-list-nr-2"
            >
              <li>Уборка производственных помещений</li>
              <li>Уборка склада</li>
              <li>Уборка служебных помещений</li>
              <li>Уборка технических помещений</li>
              <li>Уборка торгового центра</li>
              <li>Уборка детских садов и школ</li>
              <li>Уборка фитнес-клубов и спортзалов</li>
              <li>Уборка чердачных помещений</li>
              <li>Уборка чистых помещений</li>
              <li>Уборка бытовых помещений</li>
              <li>Уборка офисов</li>
              <li>Уборка зданий целиком</li>
              <li>Уборка магазинов Убрка парков</li>
              <li>Уборка строительных площадок</li>
            </ul>
            <a class="bclean-btn-outline bclean-btn-outline_blue">
              Прочитать об уборках
            </a>
          </div>
          <div
            class="col-xl-4 col-md-6 col-sm-9 col-xs-9 col-12 header__non-residential-column header__non-residential-column-3"
          >
            <h1>Сколько это стоит</h1>
            <form class="non-residential-price-form">
              <input
                id="non-residential-price-form__service"
                class="bclean-input-outline bclean-input-outline_light-blue"
                type="text"
                value="разовая уборка квартиры"
                disabled
              />
              <div class="non-residential-price-form__inputs-container">
                <div class="non-residential-price-form__col">
                  <label for="non-residential-price-form__area">Площадь</label>
                  <div
                    class="non-residential-price-form__btn bclean-input-outline bclean-input-outline_light-blue"
                  >
                    <input
                      id="non-residential-price-form__area"
                      type="number"
                      value="0"
                    />
                    <span
                      >М<span style="vertical-align: super; font-size: 8px"
                        >2</span
                      ></span
                    >
                  </div>
                </div>
                <div class="non-residential-price-form__col">
                  <span></span>
                  <span></span>
                </div>
                <div class="non-residential-price-form__col">
                  <label>Примерно</label>
                  <span class="non-residential-price-form__total-wrapper">
                    <span class="non-residential-price-form__total">1750</span>
                    &nbsp₽
                  </span>
                </div>
                <div class="non-residential-price-form__col">
                  <span></span>
                  <button
                    class="bclean-btn non-residential-price-form__order-btn"
                    type="submit"
                  >
                    Заказать
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- HEADER DROPDOWN END -->

    <!-- HEADER DROPDOWN MOBILE -->
    <div class="header__dropdown-mobile">
      <div class="bclean-tabs-vertical header__tabs">
        <div
          class="bclean-tabs-vertical__tab bclean-tabs-vertical__tab_active header__tab-btn"
          data-tab-name="residential"
        >
          Уборка жилых помещений
        </div>
        <div
          class="bclean-tabs-vertical__tab header__tab-btn"
          data-tab-name="non-residential"
        >
          Уборка нежилых помещений
        </div>
      </div>

      <div
        class="header__dropdown-content header__dropdown-content_active header__tab"
        data-name="residential"
      >
        <div class="header__price-form-container">
          <h1>Сколько это стоит</h1>
          <form class="residential-price-form">
            <input
              id="residential-price-form__service-mobile"
              class="bclean-input-outline bclean-input-outline_light-blue"
              type="text"
              value="разовая уборка квартиры"
              disabled
            />
            <div class="residential-price-form__inputs-container">
              <div class="residential-price-form__col">
                <label for="residential-price-form__rooms-mobile">Комнат</label>
                <div
                  class="increment increment_blue bclean-input-num-outline bclean-input-num-outline_light-blue"
                >
                  <button class="increment__btn bclean-input-num-outline__plus mt-0">+</button>
                  <input
                    id="residential-price-form__rooms-mobile"
                    type="text"
                    value="0"
                    class="increment__input mt-1"
                    disabled
                  />
                  <button class="increment__btn bclean-input-num-outline__minus mt-0">-</button>
                </div>
              </div>
              <div class="residential-price-form__col">
                <label for="residential-price-form__restrooms-mobile"
                  >Санузлов</label
                >
                <div
                  class="bclean-input-num-outline bclean-input-num-outline_light-blue"
                >
                  <button class="bclean-input-num-outline__plus">+</button>
                  <input
                    id="residential-price-form__restrooms-mobile"
                    type="text"
                    value="0"
                    disabled
                  />
                  <button class="bclean-input-num-outline__minus">-</button>
                </div>
              </div>
              <div class="residential-price-form__col">
                <label>Примерно</label>
                <span class="residential-price-form__total-wrapper">
                  <span class="residential-price-form__total">1750</span>
                  &nbsp₽
                </span>
              </div>
            </div>
            <!-- <div class=""> -->
            <button
              class="bclean-btn residential-price-form__order-btn"
              type="submit"
            >
              Заказать
            </button>
            <!-- </div> -->
          </form>
        </div>
        <div class="header-accordion">
          <div class="header-accordion__item-header active">
            <h1 class="header-accordion__item-title">Виды уборок</h1>
            <img
              src="/img/arrow.svg"
              alt="Arrow"
              class="header-accordion__item-arrow"
            />
          </div>
          <div class="header-accordion__item-content">
            <ul>
              <li>Разовая уборка квартиры</li>
              <li>Уборка после вечеринки</li>
              <li>Уборка коттеджей</li>
              <li>Уборка квартир Генеральная уборка</li>
              <li>Уборка домов Срочная уборка квартиры</li>
              <li>Уборка с помощью парогенератора</li>
            </ul>
            <a
              class="bclean-btn-outline bclean-btn-outline_blue header__read-more-btn"
            >
              Прочитать об уборках
            </a>
          </div>
          <div class="header-accordion__item-header">
            <h1 class="header-accordion__item-title">Услуги</h1>
            <img
              src="/img/arrow.svg"
              alt="Arrow"
              class="header-accordion__item-arrow"
            />
          </div>
          <div class="header-accordion__item-content">
            <ul class="bclean-list">
              <li>Уборка кухни</li>
              <li>Глажка белья</li>
              <li>Уборка на балконе</li>
              <li>Чистка микроволновки</li>
              <li>Стирка белья</li>
              <li>Мытьё холодильника</li>
              <li>Уборка внутри кухонных шкафов</li>
              <li>Мытьё кухонной вытяжки</li>
              <li>Мытьё посуды</li>
              <li>Чистка духовки</li>
              <li>Отмывка и химчистка поверхностей</li>
              <li>Уборка комнаты</li>
              <li>Уборка ванной комнаты</li>
              <li>Уборка гостинной</li>
              <li>Уборка детской</li>
              <li>Уборка коридора</li>
              <li>Мойка зеркал</li>
            </ul>
            <a
              class="bclean-btn-outline bclean-btn-outline_blue header__read-more-btn"
            >
              Прочитать об услугах
            </a>
          </div>
        </div>
        <a class="header-dropdown__link" href="#">Вопросы</a>
        <a class="header-dropdown__link" href="#">Отзывы</a>
      </div>

      <div
        class="header__dropdown-content header__tab"
        data-name="non-residential"
      >
        <div class="header__price-form-container">
          <h1>Сколько это стоит</h1>
          <form class="non-residential-price-form">
            <input
              id="non-residential-price-form__service-mobile"
              class="bclean-input-outline bclean-input-outline_light-blue"
              type="text"
              value="разовая уборка квартиры"
              disabled
            />
            <div class="non-residential-price-form__inputs-container">
              <div class="non-residential-price-form__col">
                <label for="non-residential-price-form__area-mobile"
                  >Площадь</label
                >
                <div
                  class="non-residential-price-form__btn bclean-input-outline bclean-input-outline_light-blue"
                >
                  <input
                    id="non-residential-price-form__area-mobile"
                    type="number"
                    value="0"
                  />
                  <span
                    >М<span style="vertical-align: super; font-size: 8px"
                      >2</span
                    ></span
                  >
                </div>
              </div>
              <div class="non-residential-price-form__col">
                <label>Примерно</label>
                <span class="non-residential-price-form__total-wrapper">
                  <span class="non-residential-price-form__total">1750</span>
                  &nbsp₽
                </span>
              </div>
              <div class="non-residential-price-form__col">
                <span></span>
                <button
                  class="bclean-btn non-residential-price-form__order-btn"
                  type="submit"
                >
                  Заказать
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="header-accordion">
          <div class="header-accordion__item-header active">
            <h1 class="header-accordion__item-title">Виды уборок</h1>
          </div>
          <div class="header-accordion__item-content">
            <ul>
              <li>Уборка административных помещений</li>
              <li>Уборка банков</li>
              <li>Уборка предприятий общественного питания</li>
              <li>Уборка вертолетных площадок</li>
              <li>Уборка заводов</li>
              <li>Уборка арендуемых помещений</li>
              <li>Уборка бассейна</li>
              <li>Уборка бизнес-центров</li>
              <li>Уборка кинотеатров</li>
              <li>Уборка помещений медицинских учреждений</li>
              <li>Уборка помещений общего пользования</li>
              <li>Уборка общественных помещений</li>
              <li>Уборка парикмахерской</li>
              <li>Уборка парковок подземного паркинга</li>
              <li>Уборка подвалов</li>
              <li>Уборка подсобных помещений</li>
              <li>Уборка производственных помещений</li>
              <li>Уборка склада</li>
              <li>Уборка служебных помещений</li>
              <li>Уборка технических помещений</li>
              <li>Уборка торгового центра</li>
              <li>Уборка детских садов и школ</li>
              <li>Уборка фитнес-клубов и спортзалов</li>
              <li>Уборка чердачных помещений</li>
              <li>Уборка чистых помещений</li>
              <li>Уборка бытовых помещений</li>
              <li>Уборка офисов</li>
              <li>Уборка зданий целиком</li>
              <li>Уборка магазинов Убрка парков</li>
              <li>Уборка строительных площадок</li>
            </ul>
            <a
              class="bclean-btn-outline bclean-btn-outline_blue header__read-more-btn"
            >
              Прочитать об уборках
            </a>
          </div>
        </div>
        <a class="header-dropdown__link" href="#">Вопросы</a>
        <a class="header-dropdown__link" href="#">Отзывы</a>
      </div>
    </div>
    <!-- HEADER DROPDOWN MOBILE END -->
  </div>
</header>

<!-- LOGIN MODAL -->
<div
  class="modal header__modal micromodal-slide"
  id="login-modal"
  aria-hidden="true"
>
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container header__modal-container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="login-modal-title"
      aria-describedby="login-modal-content"
    >
      <div role="document">
        <main
          class="modal__content header__modal-content mb-0"
          id="login-modal-content"
        >
          <form action="">
            <div class="d-flex">
              <h3 class="header__modal-reg-hdr hdr hdr_l color-blue">
                Зарегистрироваться
              </h3>
              <h3 class="header__modal-enter-hdr hdr hdr_l ml-4">Войти</h3>
            </div>

            <div class="header__modal-registration">
              <p class="text text_xl mt-2">
                Чтобы создать аккаунт, введите данные
              </p>

              <div class="mt-3">
                <div
                  class="settings__accordion-content settings__accordion-content_cut flex-column flex-md-row"
                >
                  <div>
                    <p class="input-label input-label_with-padding">Имя</p>
                    <input
                      type="text"
                      class="header__modal-input input input_full-border"
                      placeholder="Иван"
                    />
                  </div>

                  <div class="mt-3 mt-md-0">
                    <p class="input-label input-label_with-padding">Фамилия</p>
                    <input
                      type="text"
                      class="header__modal-input input input_full-border"
                      placeholder="Иванов"
                    />
                  </div>
                </div>

                <div>
                  <p class="input-label input-label_with-padding">Телефон</p>
                  <input
                    type="text"
                    class="header__modal-input input input_full-border phone__input"
                    placeholder="+7 (___) ___ __ __"
                  />
                </div>

                <div
                  class="settings__accordion-content_cut flex-column flex-md-row mt-3"
                >
                  <div>
                    <p class="input-label input-label_with-padding">Email</p>
                    <input
                      type="text"
                      class="header__modal-input input input_full-border"
                      placeholder="ivan@ivanov.ru"
                    />
                  </div>

                  <div class="mt-3 mt-md-0">
                    <p class="input-label input-label_with-padding">Пароль</p>
                    <input
                      type="text"
                      class="header__modal-input input input_full-border"
                      placeholder="6 и больше знаков"
                    />
                  </div>
                </div>

                <button class="btn btn__gray mt-4">Зарегистрироваться</button>

                <p class="text text_xs color-dark-gray mt-3">
                  Нажимая на кнопку, вы подтверждаете своё <br />
                  совершеннолетие, соглашаетесь на
                  <a href="#" class="color-blue">Обработку персональных</a>
                  <br />
                  данных в соответствии с
                  <a href="#" class="color-blue"
                    >Пользовательским соглашением</a
                  >
                </p>

                <p class="text text_m mt-4">Зарегистрироваться с помощью</p>
              </div>
            </div>

            <div class="header__modal-enter d-none">
              <p class="text text_xl mt-2">
                Чтобы войти, выберите сохранненый аккаунт или введите email и
                пароль
              </p>

              <div
                class="header__modal-saved-acc background-color-blue mt-3 py-3 px-3"
              >
                <h5 class="hdr hdr_s color-text-white">Иван Иванов</h5>
                <p class="text text_m color-text-white mt-1">С возвращением</p>
                <input
                  type="text"
                  class="input input_full-white-border mt-4"
                  placeholder="Пароль"
                />
              </div>

              <div
                class="settings__accordion-content_cut flex-column flex-md-row mt-3"
              >
                <div>
                  <p class="input-label input-label_with-padding">Email</p>
                  <input
                    type="text"
                    class="header__modal-input input input_full-border"
                    placeholder="ivan@ivanov.ru"
                  />
                </div>

                <div class="mt-3 mt-md-0">
                  <p class="input-label input-label_with-padding">Пароль</p>
                  <input
                    type="text"
                    class="header__modal-input input input_full-border"
                    placeholder="6 и больше знаков"
                  />
                </div>
              </div>
              <button class="btn btn__gray mt-4">Войти</button>
              <p class="text text_m text_bold mt-4">Войти с помощью</p>
            </div>

            <div class="mt-2">
              <button class="btn btn__light">Facebook</button>
              <button class="btn btn__light ml-3">Vkontakte</button>
            </div>
          </form>
        </main>
      </div>
    </div>
  </div>
</div>
<!-- LOGIN MODAL END -->

<!-- CALLBACK MODAL -->
<div
  class="modal callback-modal micromodal-slide"
  id="callback-modal"
  aria-hidden="true"
>
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="callback-modal__container modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="callback-modal-title"
      aria-describedby="callback-modal-content"
    >
      <div role="document">
        <main
          class="modal__content header__modal-content mb-0"
          id="callback-modal-content"
        >
          <form action="#">
            <h3 class="hdr hdr_l color-text-white">
              Введите номер <br />
              телефона
            </h3>

            <p class="text text_m color-text-white mt-1">
              И мы поможем сделать заказ!
            </p>

            <div class="callback-modal__form mt-5" action="#">
              <input
                class="callback-modal__input phone__input"
                type="text"
                placeholder="+7 (___) ___-____"
              />
              <button class="callback-modal__btn" type="submit">
                Заказать уборку
              </button>
            </div>
          </form>
        </main>
      </div>
    </div>
  </div>
</div>
<!-- CALLBACK MODAL END -->
