<div class="orders__history-tab">
  <div class="orders__order-list mt-5">
    <div class="orders__order-item">
      <div class="orders__history-info d-flex justify-content-between">
        <div class="orders__history-address d-flex">
          <p class="orders__history-address-text text text_xl">Москва, наб. Садовническая, 69</p>
          <p class="text text_xl ml-0 ml-md-5">11.02.2020 13:50</p>
        </div>

        <div class="orders__history-price d-flex">
          <p class="text text_m mr-0 mr-md-4">Наличные</p>
          <p class="text text_xl">1750 ₽</p>
        </div>
      </div>

      <div
        class="orders__order-item-controls d-flex justify-content-between justify-content-md-end mt-4"
      >
        <button class="btn btn__light mr-4">Редактировать</button>
        <button class="btn btn__blue">Сохранить</button>
      </div>

      <p class="text text_m color-new-gray mt-4">
        Уборка
        банков&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Клинер
        Светлана Корнеева
      </p>
    </div>

    <div class="orders__order-item mt-4">
      <div class="orders__history-info d-flex justify-content-between">
        <div class="orders__history-address d-flex">
          <p class="orders__history-address-text text text_xl">Москва, наб. Садовническая, 69</p>
          <p class="text text_xl ml-0 ml-md-5">11.02.2020 13:50</p>
        </div>

        <div class="orders__history-price d-flex">
          <p class="text text_m mr-0 mr-md-4">Наличные</p>
          <p class="text text_xl">1750 ₽</p>
        </div>
      </div>

      <div
        class="orders__order-item-controls d-flex justify-content-between justify-content-md-end mt-4"
      >
        <button class="btn btn__light mr-4">Редактировать</button>
        <button class="btn btn__blue">Сохранить</button>
      </div>

      <p class="text text_m color-new-gray mt-4">
        Уборка
        квартиры&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Дополнительные
        услуги&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Клинер Светлана
        Корнеева
      </p>

      <div class="orders__order-item-bot-block"></div>
      <div
        class="orders__order-item-bot-block orders__order-item-bot-block_cut"
      ></div>
    </div>
  </div>

  <div class="orders__history">
    <h5 class="hdr hdr_s">История заказов</h5>

    <div class="orders__order-item mt-4">
      <div class="orders__history-info d-flex justify-content-between">
        <div class="orders__history-address d-flex">
          <p class="orders__history-address-text text text_xl">Москва, наб. Садовническая, 69</p>
          <p class="text text_xl ml-0 ml-md-5">11.02.2020 13:50</p>
        </div>

        <div class="orders__history-price d-flex">
          <p class="text text_m mr-0 mr-md-4">Наличные</p>
          <p class="text text_xl">1750 ₽</p>
        </div>
      </div>

      <div
        class="orders__order-item-controls d-flex justify-content-between justify-content-md-end mt-4"
      >
        <button class="btn btn__light mr-4">Оставить отзыв</button>
        <button class="btn btn__blue">Сохранить</button>
      </div>

      <p class="text text_m color-new-gray mt-4">
        Уборка
        банков&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Клинер
        Светлана Корнеева
      </p>
    </div>

    <div class="orders__order-item mt-4">
      <div class="orders__history-info d-flex justify-content-between">
        <div class="orders__history-address d-flex">
          <p class="orders__history-address-text text text_xl">Москва, наб. Садовническая, 69</p>
          <p class="text text_xl ml-0 ml-md-5">11.02.2020 13:50</p>
        </div>

        <div class="orders__history-price d-flex">
          <p class="text text_m mr-0 mr-md-4">Наличные</p>
          <p class="text text_xl">1750 ₽</p>
        </div>
      </div>

      <div
        class="orders__order-item-controls d-flex justify-content-between justify-content-md-end mt-4"
      >
        <button class="btn btn__light mr-4">Оставить отзыв</button>
        <button class="btn btn__blue">Сохранить</button>
      </div>

      <p class="text text_m color-new-gray mt-4">
        Уборка
        банков&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Клинер
        Светлана Корнеева
      </p>
    </div>

    <div class="orders__order-item mt-4">
      <div class="orders__history-info d-flex justify-content-between">
        <div class="orders__history-address d-flex">
          <p class="orders__history-address-text text text_xl">Москва, наб. Садовническая, 69</p>
          <p class="text text_xl ml-0 ml-md-5">11.02.2020 13:50</p>
        </div>

        <div class="orders__history-price d-flex">
          <p class="text text_m mr-0 mr-md-4">Наличные</p>
          <p class="text text_xl">1750 ₽</p>
        </div>
      </div>

      <div
        class="orders__order-item-controls d-flex justify-content-between justify-content-md-end mt-4"
      >
        <button class="btn btn__light mr-4">Оставить отзыв</button>
        <button class="btn btn__blue">Сохранить</button>
      </div>

      <p class="text text_m color-new-gray mt-4">
        Уборка
        банков&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Клинер
        Светлана Корнеева
      </p>
    </div>

    <div class="orders__order-item mt-4">
      <div class="orders__history-info d-flex justify-content-between">
        <div class="orders__history-address d-flex">
          <p class="orders__history-address-text text text_xl">Москва, наб. Садовническая, 69</p>
          <p class="text text_xl ml-0 ml-md-5">11.02.2020 13:50</p>
        </div>

        <div class="orders__history-price d-flex">
          <p class="text text_m mr-0 mr-md-4">Наличные</p>
          <p class="text text_xl">1750 ₽</p>
        </div>
      </div>

      <div
        class="orders__order-item-controls d-flex justify-content-between justify-content-md-end mt-4"
      >
        <button class="btn btn__light mr-4">Оставить отзыв</button>
        <button class="btn btn__blue">Сохранить</button>
      </div>

      <p class="text text_m color-new-gray mt-4">
        Уборка
        банков&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Клинер
        Светлана Корнеева
      </p>
    </div>

    <div class="orders__order-item mt-4">
      <div class="orders__history-info d-flex justify-content-between">
        <div class="orders__history-address d-flex">
          <p class="orders__history-address-text text text_xl">Москва, наб. Садовническая, 69</p>
          <p class="text text_xl ml-0 ml-md-5">11.02.2020 13:50</p>
        </div>

        <div class="orders__history-price d-flex">
          <p class="text text_m mr-0 mr-md-4">Наличные</p>
          <p class="text text_xl">1750 ₽</p>
        </div>
      </div>

      <div
        class="orders__order-item-controls d-flex justify-content-between justify-content-md-end mt-4"
      >
        <button class="btn btn__light mr-4">Оставить отзыв</button>
        <button class="btn btn__blue">Сохранить</button>
      </div>

      <p class="text text_m color-new-gray mt-4">
        Уборка
        банков&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;Клинер
        Светлана Корнеева
      </p>
    </div>
  </div>
</div>
