<div class="orders__saved-tab">
  <h3 class="hdr hdr_l">Выберите адрес</h3>

  <div class="orders__address-list mt-3">
    <div class="orders__address-row d-flex flex-column flex-md-row">
      <div
        class="orders__address-item orders__address-item_active mr-0 mr-md-2"
      >
        <p class="text text text_xl">Москва, наб. Садовническая, 69</p>
      </div>

      <div class="orders__address-item ml-0 ml-md-2 mt-2 mt-md-0">
        <p class="text text text_xl">Москва, наб. Садовническая, 69</p>
      </div>
    </div>

    <div class="orders__address-row d-flex mt-3">
      <div class="orders__address-item">
        <p class="text text text_xl">Москва, наб. Садовническая, 69</p>
      </div>
    </div>
  </div>

  <div class="orders__date-container mt-5">
    <h3 class="hdr hdr_l">Дата и время</h3>
    <input
      type="text"
      class="orders__address-date-input input input_full-border mt-2"
      placeholder="Пятница, 14 февраля 2020, в 20:00"
    />
    <!-- <div class="calc-form-calendar d-block d-md-none"></div> -->
  </div>

  <div class="orders__date-container mt-5">
    <h3 class="hdr hdr_l">Вид уборки</h3>

    <div class="mt-3">
      <p class="text text_m color-blue">
        Разовая уборка квартиры
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
      <p class="text text_m">
        Уборка после вечеринки
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
      <p class="text text_m">
        Уборка коттеджей
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
      <p class="text text_m color-dark-gray">
        Уборка квартир
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
      <p class="text text_m color-dark-gray">
        Генеральная уборка
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
      <p class="text text_m color-dark-gray">
        Уборка домов
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
      <p class="text text_m">
        Срочная уборка квартиры
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
      <p class="text text_m color-dark-gray">
        Уборка с помощью парогенератора
        <span class="tooltip">
          <img src="img/info-inactive.svg" alt="Инфо" />
          <span class="types-page__hint tooltip__container">
            <tooltip class="tooltip__content">
              Проводится обычно в нерабочее время, утром или вечером. Включает
              стандартный алгоритм действий, направленный на поддержание
              поверхностной чистоты в помещении
            </tooltip>
          </span>
        </span>
      </p>
    </div>

    <div class="mt-2 d-block d-md-none">
      <p class="text text_s text_bold mb-2 mt-4">В уборку войдет</p>

      <p class="text text_xs">Уборка кухни</p>
      <p class="text text_xs">Чистка микроволновки</p>
      <p class="text text_xs">Мытьё холодильника</p>
      <p class="text text_xs">Уборка внутри кухонных шкафов</p>
      <p class="text text_xs">Мытьё кухонной вытяжки</p>
      <p class="text text_xs">Мытьё посуды</p>
    </div>
  </div>

  <div class="orders__additional mt-5">
    <h3 class="hdr hdr_l">Дополнительные услуги</h3>

    <div
      class="orders__additional-services d-flex flex-column flex-md-row mt-3"
    >
      <div class="orders__additional-column">
        <div class="d-flex align-items-center mb-n2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s mr-2">
            Почасовая оплата
          </p>
          <select
            name="hours"
            id="add-service-hours"
            class="custom-select sources mt-1"
            placeholder=""
            value="1"
          >
            <option selected value="1">1 час</option>
            <option value="2">2 часа</option>
            <option value="3">3 часа</option>
            <option value="4">4 часа</option>
            <option value="5+">5 и более</option>
          </select>

          <p class="settings__address-devices-text text text_s mt-1">+200</p>
        </div>

        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            У меня есть пылесос &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>

        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Уборка кухни &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Глажка белья &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Уборка на балконе/лоджии &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Чистка микроволновки &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Стирка белья &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Мытьё холодильника &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Уборка внутри кухонных шкафов &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Мытьё кухонной вытяжки &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Мытьё посуды &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
      </div>

      <div class="orders__additional-column">
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            У меня есть пылесос &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>

        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Почасовая оплата &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Уборка кухни &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Глажка белья &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Уборка на балконе/лоджии &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Чистка микроволновки &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Стирка белья &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Мытьё холодильника &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Уборка внутри кухонных шкафов &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Мытьё кухонной вытяжки &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
        <div class="d-flex mt-2">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          <p class="settings__address-devices-text text text_s">
            Мытьё посуды &nbsp; &nbsp; &nbsp;+200
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="orders__count-container mt-5">
    <h3 class="hdr hdr_l">Частота уборки</h3>

    <div class="d-flex flex-column flex-md-row mt-3">
      <div class="d-flex">
        <div class="orders__count mr-1 mr-md-3 mt-2 mt-md-0">
          <p class="text text_m text_bold color-blue">Разово</p>
        </div>

        <div
          class="orders__count ml-1 ml-md-0 mr-md-3 mt-2 mt-md-0 orders__count_active d-flex flex-row flex-md-column justify-content-between align-items-center"
        >
          <p class="text text_m text_bold">2 раза в месяц</p>
          <p class="text text_m text_bold">-10%</p>
        </div>
      </div>

      <div class="d-flex">
        <div
          class="orders__count mr-1 mr-md-3 mt-2 mt-md-0 d-flex flex-row flex-md-column justify-content-between align-items-center"
        >
          <p class="text text_m text_bold">3 раза в месяц</p>
          <p class="text text_m text_bold">-20%</p>
        </div>

        <div
          class="orders__count ml-1 ml-md-0 mr-md-3 mt-2 mt-md-0 d-flex flex-row flex-md-column justify-content-between align-items-center"
        >
          <p class="text text_m text_bold">4 раза в месяц</p>
          <p class="text text_m text_bold">-30%</p>
        </div>
      </div>
    </div>

    <p class="text text_s mt-4">
      Спасибо что выбрали подписку, вместе с скидкой у вас есть <br />
      возможность выбрать определенного клинера, вы можете <br />
      оставить это поле пустым и система подберет клинера <br />
      самостоятельно
    </p>

    <div
      class="orders__cleaner-name mt-3 d-flex d-md-block justify-content-between align-items-center"
    >
      <div class="d-none d-md-flex justify-content-between align-items-center">
        <p class="text text_m text_bold">Плагина Анастасия</p>
        <p class="text text_m">
          <span class="text_bold">4.9</span> рейтинг,
          <span class="text_bold">114</span> уборок
        </p>
      </div>

      <div class="orders__cleaner-list d-block d-md-none">
        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-list-splitter"></div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>

        <div class="orders__cleaner-item d-flex justify-content-between">
          <p class="text text_xs text_bold">Плагина Анастасия</p>
          <p class="text text_xs">
            <span class="text_bold">4.9</span> рейтинг,
            <span class="text_bold">114</span> уборок
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="orders__money-block mt-5">
  <div class="d-flex justify-content-between">
    <h3 class="hdr hdr_l">Итого</h3>

    <div class="d-flex align-items-center">
      <p class="text text_s mr-3">эта уборка</p>
      <h3 class="hdr hdr_l">1250 ₽</h3>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-2 align-items-center">
    <p class="text text_s mr-2">следующая уборка</p>
    <h5 class="hdr hdr_s">1250 ₽</h5>
  </div>

  <h5 class="hdr hdr_s mt-5">Выберите способ оплаты</h5>

  <div class="orders__pay-card d-flex justify-content-between mt-3">
    <p class="text text_m text_bold">Новой картой</p>

    <img src="img/wallet.svg" alt="" />
  </div>

  <div class="orders__pay-card d-flex justify-content-between mt-3">
    <p class="text text_m text_bold">Прикреплённой картой</p>

    <img src="img/wallet-done.svg" alt="" />
  </div>

  <div class="orders__pay-card d-flex flex-column justify-content-between mt-3">
    <div class="d-flex justify-content-between">
      <p class="text text_m text_bold">
        С баланса <br />
        личного кабинета
      </p>

      <img src="img/wallet-income.svg" alt="" />
    </div>

    <p class="text text_s mt-2">У вас <span class="text_bold">5000р</span></p>
  </div>

  <div class="orders__pay-card d-flex justify-content-between mt-3">
    <p class="text text_m text_bold">
      Наличными <br />
      курьеру
    </p>

    <img src="img/dollar.svg" alt="" />
  </div>

  <button
    class="orders__save-pay btn btn__gray background-color-near-white mt-5 mt-md-3"
  >
    Оплатить
  </button>
</div>
