@font-face {
     font-family: 'ObjectSans-Heavy';
     src: url('../fonts/ObjectSans-Heavy.eot');
     src: url('../fonts/ObjectSans-Heavy.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ObjectSans-Heavy.woff') format('woff'),
          url('../../fonts/ObjectSans-Heavy.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'ObjectSans-Regular';
     src: url('../fonts/ObjectSans-Regular.eot');
     src: url('../fonts/ObjectSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ObjectSans-Regular.woff') format('woff'),
          url('../fonts/ObjectSans-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@mixin heavy{
     font-family: 'ObjectSans-Heavy', sans-serif;
}

@mixin regular{
     font-family: 'ObjectSans-Regular', sans-serif;
}
