.accordion
  $self: &

  &__content
    max-height: 0
    overflow: hidden
    transition: all .4s ease-in-out

  &__arrow
    transform: rotate(90deg)
    transition: all .4s ease-in-out

  &__header
    cursor: pointer

  &__item

    &_active

      #{ $self }__content
        max-height: 12000px

      #{ $self }__arrow
        transform: rotate(270deg)
