.callback-form
    &-wrapper
        background-color: $blue
        border-radius: 25px
        padding: 30px
        max-width: 480px
    &-block
        align-items: center
        display: flex
    &-title
        font-size: 30px
        +heavy
        color: $white
        margin-bottom: 6px
    &-text
        font-size: 14px
        max-width: 350px
        color: $white
        line-height: 125%
        +regular
        margin-bottom: 41px