/* MFP */
.mfp-bg
  background: rgba(37, 141, 221, 0.25)
.mfp-figure:after
  box-shadow: none
  background: transparent
.mfp-close
  top: 10px !important
  right: -26px !important
  color: $black !important
  border-radius: 50% !important
  cursor: pointer !important
  width: 44px !important
  text-align: center !important
  padding: 0 !important
  background-color: $white !important
  opacity: 1
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25) !important
  font-family: monospace !important
@media (max-width: 425px)
  .mfp-close
    font-size: 24px !important
    line-height: 0 !important
    width: 34px !important
    height: 34px !important
    right: 0px !important

/* Override bootstrap grid variables */
$mobileShift: 12px
@media (max-width: $mobile)
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl
    padding-right: $mobileShift
    padding-left: $mobileShift
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto
    padding-right: $mobileShift
    padding-left: $mobileShift
  .row
    margin-right: -$mobileShift
    margin-left: -$mobileShift

$container-width: 1220px
$desktopShift: 10px
@media (min-width: $desktop)
  .container
    max-width: 1220px
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl
    padding-right: $desktopShift
    padding-left: $desktopShift
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto
    padding-right: $desktopShift
    padding-left: $desktopShift
  .row
    margin-right: -$desktopShift
    margin-left: -$desktopShift

@media (min-width: 576px)
  .card-deck
    margin-right: -20px
    margin-left: -20px
  .card-deck .card
    margin-right: 20px
    margin-left: 20px


// mixins
@mixin flex-centering()
  display: flex
  justify-content: center
  align-items: center

// Header constants
$header-height-desktop: 156px
$header-height-sm: 62px