/*============== Footer Start ============*/
.footer
  background-color: $light-black
  padding-top: 62px
  padding-bottom: 47px
  &__links
    &-left
      margin-bottom: 46px
    &-right
      margin-bottom: 180px

  &__link
    &-left
      margin-bottom: 16px
      &:nth-child(2)
          margin-bottom: 36px
      &:nth-child(4)
          margin-bottom: 0
    &-central
      margin-bottom: 16px
      &:nth-child(3)
          margin-bottom: 36px
    &-right
      margin-bottom: 16px
      &:nth-child(2)
          margin-bottom: 0
    &-item
      &-left
        +heavy
        +rfs(20px)
        color: $text-white
        text-decoration: none

      &-central
        +heavy
        +rfs(20px)
        color: $text-white
        text-decoration: none
      &-right
        +heavy
        +rfs(20px)
        color: $text-white
        text-decoration: none

      &-small
        +rfs(14px)
        line-height: 125%
        +regular
        color: $text-white

  &__pay
    display: flex
    align-items: center
    justify-content: space-around
    margin-bottom: 56px

  &__partner
    display: flex
    align-items: flex-start
    &:nth-child(3)
      margin-left: 5px
    &-item
      margin-right: 20px
    &-text
      +regular
      +rfs(12px)
      line-height: 125%
      color: $dark-gray

  &__logo
    max-width: 100%
    margin-bottom: 158px

  &__company
    &-xs
      display: none
    display: flex
    flex-direction: column
    &-item
      &:first-child
        margin-bottom: 5px
      +regular
      +rfs(12px)
      line-height: 125%
      color: $dark-gray

@media (max-width: $md)
  .footer
    &__link
      &-central
        &:nth-child(3)
          margin-bottom: 42px
    &__partner
      display: none
    &__logo
      margin-bottom: 30px
    &__link-item-left
      font-size: 18px
    &__link-item-central
      font-size: 18px
    &__link-item-right
      font-size: 18px
    .footer__link-item-small
      font-size: 14px


@media (max-width: $xs)
  .footer
    padding-top: 43px
    padding-bottom: 11px
    max-width: 100%
    overflow: hidden

    &__partner
      display: none
    &__logo
      max-width: 140px
      margin-bottom: 40px
    &__pay
      display: none

    &__links
      &-left
        margin-bottom: 0
      &-right
        margin-bottom: 30px
    &__link
      &-left
        &:nth-child(2)
          margin-bottom: 16px
      &-central
        &:last-child
          display: none
        &:nth-child(3)
          margin-bottom: 50px
      &-item
        &-small
          display: none
    &__contact
      display: block
    &__company
      display: none
      &-xs
        display: flex
        flex-direction: column
        &-item
          &:first-child
            margin-bottom: 5px
          +regular
          +rfs(12px)
          line-height: 125%
          color: $dark-gray

/*============== Footer End ============*/

