.header
  +regular
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 50
  max-height: 100%
  overflow: visible
  background-color: #f4f4f4
  &.header_opened
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
  &__modal-input
    width: 184px
  &__body
    position: relative
    z-index: 2
    height: 156px
    display: flex
    justify-content: center
    flex-direction: column
  &__list
    display: flex
    align-items: center
  &__link
    display: flex
    align-items: baseline
    +regular
    +rfs(14px)
    line-height: 14px
    color: $black
    text-transform: uppercase
    margin-right: 30px
    outline: none
    &:focus
      outline: none
    &-image
      margin-right: 7px
  &__form
    width: 387px
  &__search
    width: 100%
    min-width: 150px
    min-height: 36px
    &-input
      max-width: 330px
      vertical-align: middle
      border: none
      outline: none
      background-color: $near-white
      &::placeholder
        +regular
        line-height: 14px
        +rfs(14px)
        color: $black
        text-transform: uppercase
    &-submit
      border: none
      outline: none
      width: 20px
      height: 20px
      background: url(../img/search.svg) no-repeat 50% 50%
  &__phone
    color: $blue
    +heavy
    +rfs(14px)
    line-height: 15px
    margin-top: 20px
  &__bottom
    display: flex
    align-items: center
    justify-content: space-between
  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    &-btn
      +regular
      text-transform: uppercase
      color: $black
      +rfs(14px)
      line-height: 14px
      background: $light-blue
      border-radius: 25px
      padding: 12px 14px 8px 14px
      margin-right: 34px
    &-login-btn
      display: block
      img
        width: 42px
        height: 38px
    &-logout-btn
      display: block
      img
        width: 42px
        height: 38px
    &-logout
      display: block
    &-user
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 7px
      &-notification
        display: block
        margin-bottom: 7px
      &-profile
        +regular
        display: block
        font-size: 14px
        text-transform: uppercase
        margin-right: 10px
        color: $black
    &-wrapper
      &-left
        display: flex
        align-items: center
        justify-content: space-between
      &-right
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 20px
        height: 44px
  &__burger
    display: none
    position: relative
    width: 21px
    height: 10px
    margin-top: 10px
    span
      position: absolute
      background-color: $black
      left: 0
      width: 100%
      height: 2px
      top: 4px
      border-radius: 1px
    &::before, &::after
      content: ''
      position: absolute
      background-color: $black
      width: 100%
      height: 2px
      border-radius: 1px
      left: 0
    &::before
      top: 0
    &::after
      bottom: 0
  &__close
    display: none
    background: none
    border: none
    background: url('../img/mult.svg') no-repeat 50% 50%
    background-size: contain
    width: 17px
    height: 17px
    margin-top: 10px
  &__sub
    font-size: 10px
    line-height: 125%
    color: $dark-gray
    max-width: 237px
  &__dropdown
    display: none
    // margin: 0 -20px
    &_active
      display: flex
    h1
      +heavy
      color: $blue
      font-size: 20px
      margin-bottom: 10px
    ul
      line-height: 125%
      font-size: 18px
  &__dropdown-content
    display: none
    padding-top: 10px
    // padding: 10px 0 50px 0
    // margin: 0
    &_active
      display: flex
  &__dropdown-content-list-residential-1
    max-width: 247px
  & .header__dropdown-content-list
    font-size: 18px
    line-height: 23px
    max-width: 280px
    margin-bottom: 23px
  .header__dropdown-content-list-nr-2
    margin-top: 30px
    margin-bottom: 23px
  &__residential-column
    margin-bottom: 23px
  &__non-residential-column
    margin-bottom: 23px
  .bclean-btn-outline
    font-size: 14px
    width: 124px
    height: 52px
    padding: 12px 12px
    margin-bottom: 20px
    line-height: 15px
  .bclean-input-outline
    text-transform: uppercase
    font-size: 14px
  &__column-1
    ul
      margin-bottom: 20px
      line-height: 23px
  &__column-2
    ul
      column-fill: auto
      height: 322px
      margin-bottom: 20px
      line-height: 23px
  &__column-2
    ul
      column-fill: auto
      height: 322px
      margin-bottom: 20px
      line-height: 23px
  &__mobile-menu
    height: 40px
    display: none
    .header__login-btn
      img
        width: 35px
        height: 32px
    .header__logout-btn
      img
        width: 35px
        height: 32px
    .header__user-name
      max-height: 70px
      overflow: hidden
      text-overflow: ellipsis
  &__price-form-container
    margin-top: 30px
    h1
      +heavy
      color: $blue
      font-size: 20px
      margin-bottom: 10px
  &__dropdown-mobile
    display: none
  &__notification-popup
    display: none
  &__types-list-residential
    &.active
      color: $dark-gray
    &:not(.active)
      color: $black
    li.active
      color: $black
    li:hover
      color: $black
  &__services-list-residential
    &.active
      color: $dark-gray
    &:not(.active)
      color: $black
    li.active
      color: $black
  &__modal
    &-saved-acc
      width: 360px
      height: 140px
      border-radius: 25px
      @media (max-width: 575px)
        width: 100%
    &-reg-hdr
      cursor: pointer
      @media (max-width: 575px)
        font-size: 18px
    &-enter-hdr
      cursor: pointer
      @media (max-width: 575px)
        font-size: 18px
    .text_xl
      @media (max-width: 575px)
        font-size: 10px
    .input-label
      margin-bottom: 6px
  &__modal-container
    height: 576px
  input[type='number']
      -moz-appearance: textfield
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
      -webkit-appearance: none

.residential-price-form
  .residential-price-form__inputs-container
    display: flex
    margin-top: 10px
  .residential-price-form__total-wrapper
    +heavy
    color: $blue
  .bclean-input-num-outline
    font-size: 14px
  &__order-btn
    font-size: 14px
  &__col
    color: $black
    display: flex
    flex-direction: column
    justify-content: start
    width: 25%
    margin-right: 10px
    position: relative
    label
      font-size: 12px
      text-align: center
      // margin-bottom: 3px
      position: absolute
      width: 100%
    & > *:nth-child(2)
      +flex-centering
      margin-top: 15px
      height: 36px
    &:last-child
      margin-right: 0
  .bclean-input-outline
    width: 100%


.non-residential-price-form
  .non-residential-price-form__inputs-container
    display: flex
    margin-top: 10px
  .non-residential-price-form__total-wrapper
    +heavy
    color: $blue
  .bclean-input-num-outline
    font-size: 14px
  &__order-btn
    font-size: 14px
  &__col
    color: $black
    display: flex
    flex-direction: column
    justify-content: start
    width: 25%
    margin-right: 10px
    position: relative
    label
      font-size: 12px
      text-align: center
      // margin-bottom: 3px
      position: absolute
      width: 100%
    & > *:nth-child(2)
      +flex-centering
      margin-top: 15px
      height: 36px
    &:last-child
      margin-right: 0
  &__btn
    +heavy
    color: $blue
    input
      margin-right: 5px
  .bclean-input-outline
    width: 100%

@media (max-width: 1200px)
  .header
    &__burger
      display: none
    &__close
      display: none
    &__dropdown
      display: none
    &__dropdown-mobile
      display: none
    &__mobile-menu
      display: none
    &.header_opened
      .header__burger
        display: none
      .header__close
        display: block
      .header__dropdown
        display: flex
    &__body
      // height: 66px
    &__logo
      &-image
        max-width: 150px
    &__phone
      +rfs(12px)
      margin-top: 14px
    &__top
      margin-bottom: 15px
      height: 50px
      &-wrapper
        &-right
          display: none
    // &__bottom
    //   display: none

@media (max-width: $sm)
  .header
    &__body
      height: unset
      margin-top: 15px
      margin-bottom: 25px
    &__bottom
      display: flex
      flex-direction: column
    &__menu
      margin-bottom: 15px
    &__list
      flex-direction: column
      li
        height: 22px
        display: flex
        align-items: center
    &__modal-input
      width: 100%
    &__modal-container
      height: unset
    



@media (max-width: $sm)
  .header
    &__bottom
      display: none
    &__close
      display: none
      background: url('../img/mult.svg') no-repeat 50% 50%
      background-size: contain
    &__burger
      display: block
    &.header_opened
      .header__dropdown-mobile
        display: block
      .header__mobile-menu
        display: flex
      .header__close
        display: block
      .header__burger
        display: none
      .header__dropdown
        display: none
    &__tabs
      font-size: 12px
    &__body
      height: 62px
      margin: 0
    &__logo
      &-image
        max-width: 106px
    &__phone
      +rfs(12px)
      margin-top: 12px
    &__burger
      margin-top: 5px
    &__top
      margin-bottom: 0
      height: 42px
      min-height: 42px
    &__dropdown
      display: none
    &__dropdown-content
      flex-direction: column
    &__mobile-menu
      display: none
      align-items: center
      margin-bottom: 8px
      & > *:not(:last-child)
        margin-right: 10px
    &__user-profile-btn
      +regular
      text-transform: uppercase
      color: $black
    &__notification-btn
      width: 40px
      min-width: 40px
      height: 40px
      background: url('/img/notification.svg') no-repeat 50% 50%
    &__search-mobile
      font-size: 12px
    .bclean-tabs-vertical
      height: 64px
      margin-top: 45px
    &__dropdown
      display: none
    &__dropdown-mobile
      h1
        +heavy
        color: $blue
        font-size: 18px
        // margin-bottom: 10px
      ul
        line-height: 140%
        font-size: 12px
      .header__read-more-btn
        font-size: 12px
        width: 110px
        height: 48px
        margin-top: 13px
    &__price-form-container
      margin-bottom: 55px
      .residential-price-form__inputs-container
        margin-bottom: 15px
      .residential-price-form__col
        width: 33%
      .residential-price-form__total-wrapper
        font-size: 18px
      .residential-price-form__order-btn
        width: 100%
        height: 32px
      .non-residential-price-form__inputs-container
        margin-bottom: 15px
      .non-residential-price-form__col
        width: 33%
      .non-residential-price-form__total-wrapper
        font-size: 18px
  .header-dropdown__link
      +heavy
      display: block
      color: $black
      font-size: 18px
      width: 100%
      margin-bottom: 11px
  .header-accordion
    &__item-header
      +heavy
      font-size: 18px
      color: $blue
      display: flex
      align-items: baseline
      margin-bottom: 6px
      justify-content: space-between
    &__item-content
      backface-visibility: hidden
      transform: translateZ(0)
      transition: all 0.5s
      max-height: 0
      overflow: hidden
      margin-bottom: 10px
  .header-accordion__item-header.active + .header-accordion__item-content
    max-height: unset
  .header-accordion__item-header.active .header-accordion__item-arrow
    transform: rotate(90deg)

/* Header not opened */
.header:not(.header_opened)
  .header
    &__dropdown
      display: none

/* Not logged-in header */
.header:not(.is-logged-in)
  .header
    &__top-logout
      display: none
    &__logout-btn
      display: none
    &__top-user-profile
      display: none
    &__top-user-notification
      display: none
    &__notification-btn
      display: none
    &__user-profile-btn
      display: none
    

/* Logged-in header */
.header.is-logged-in
  .header
    &__login-btn
        display: none
    

/* Has notifications */
.header.has-notifications
  .header
    &__notification-btn
      position: relative
      &::before
        content: ''
        display: block
        position: absolute
        width: 12px
        height: 12px
        background: $blue
        border-radius: 100%
        left: 60%
        top: 35%
        transform: translate(-50%, -50%)


.callback-modal

  &__input
    background: rgba(244, 244, 244, 0.15)
    border: 2px solid #FFFFFF
    box-sizing: border-box
    border-radius: 25px
    color: $text-white
    padding: 8px 12px 8px 14px
    font-size: 14px
    width: 186px

    &::placeholder
      color: $text-white

  &__btn
    background: #FFFFFF
    border-radius: 25px
    color: $blue
    padding: 8px 12px 8px 14px
    font-size: 14px
    border: 2px solid #ffffff
    text-transform: uppercase
    width: 168px
    position: absolute
    left: 151px

  &__form
    position: relative

  &__container
    background-color: $blue
    max-width: 380px
    width: 100%

@media (max-width: $sm)
  .callback-modal

    &__container
      width: 320px

    &__input
      font-size: 12px

    &__btn
      left: 120px
      width: 150px
      font-size: 12px
