.increment
  border: 2px solid $black
  border-radius: 10px
  min-width: 80px
  height: 36px
  display: flex

  &_blue
    border: 2px solid $blue
    border-radius: 25px

  &__input
    width: 12px
    height: 100%
    overflow: visible

  &__btn
    margin-top: -5px

@media (max-width: 575px)
  .increment
    height: 44px

    &__btn
      margin-top: 0

    &__input
      height: 110%

