/*Обычная кнопка светло-голубая*/
.btn
  +regular
  text-transform: uppercase
  +rfs(14px)
  line-height: 14px
  border-radius: 25px
  border: none
  padding: 12px 14px 8px

  &__simple
    color: $black
    background: $light-blue

  &__blue
    +regular
    color: $text-white
    background: $blue
    text-align: center
    padding: 6px 14px 3px 14px
    min-height: 36px
    &_medium
      padding: 12px 14px 8px

  &__light
    color: $black
    background: $light-blue

  &__gray
    color: $dark-gray
    background-color: $light-gray

  &_no-background
    background: none
    color: $dark-gray
    +rfs(10px)
    line-height: 12px

  &_l
    +rfs(18)
    line-height: 22px

  &_black-color
    color: $black

  &_blue-color
    color: $blue

  &_no-uppercase
    text-transform: none

  &_no-shadow
    box-shadow: none

  &__light
    +regular
    display: inline-block
    text-transform: uppercase
    color: $black
    font-size: 14px
    background: $light-blue
    border-radius: 25px
    padding: 12px 14px 8px 14px
    text-align: center

.main__btn
  background-color: $white
  color: $blue
  height: 100%
.main__input
  border: 2px solid $white
  background: rgba(244, 244, 244, 0.15)
  color: $white
  &::placeholder
      color: $white

.bclean-input-form
  $self: &

  +regular
  position: relative
  display: flex
  border: 2px solid $blue
  border-radius: 25px
  background: $white
  color: $blue
  padding-left: 14px
  &_white.index-main__form
    border-color: $white
    background: rgba(244, 244, 244, 0.15)

    #{ $self }__input
      color: $white
      
      &::placeholder
        color: $white

    #{ $self }__btn
      background-color: $white
      color: $blue
      width: 120%

  &__input
    font-size: inherit
    color: inherit
    margin-right: 5px
    height: 100%
    padding: 0
    width: 80%
    border: none
    background: transparent
    &::placeholder
      color: inherit

    &_small
      width: 44%

  &__btn
    +flex-centering()
    height: 100%
    width: 100%
    font-size: inherit
    background: $blue
    border-radius: 25px
    border: none
    color: $text-white
    padding: 0 14px 0 14px
    text-transform: uppercase

.textarea
  width: 100%
  padding: 14px 13px
  border: 2px solid $black
  border-radius: 15px
  color: $black
  +regular
  +rfs(14px)
  background: none

  &::placeholder
    color: $dark-gray

.hdr
  +heavy
  color: $black

  &_xxl
    +rfs(30)
    line-height: 31px

  &_xl
    +rfs(45)
    line-height: 47px
    margin-bottom: 12px

  &_l
    +rfs(30)
    line-height: 31px

  &_m
    +rfs(30)
    line-height: 31px

  &_s
    +rfs(20)
    line-height: 21px

  &_xs
    +rfs(18)
    line-height: 22px

  &_blue
    color: $blue

  &_regular
    +regular

  &_very-dark-grey
    color: $very-dark-gray

  &_dark-gray
    color: $dark-gray

.input-label
  color: $black
  +heavy
  +rfs(14px)
  margin-bottom: 8px

  &_with-padding
    padding-left: 15px

.input
  +regular
  color: $black

  &_full-border
    border: 2px solid $black
    border-radius: 10px
    padding: 14px 17px 12px
    +rfs(14px)

    @media (max-width: 575px)
      width: 100%

  &_full-white-border
    +rfs(14px)
    background: rgba(244, 244, 244, 0.15)
    border: 2px solid $white
    box-sizing: border-box
    border-radius: 25px
    padding: 10px 14px
    color: $white
    width: 100%

    &::placeholder
      color: $white

  &_bot-border
    border: none
    border-bottom: 2px solid $black
    background: none
    width: 100%

  &_no-border
    border: none
    background: none

.text
  +regular
  color: $black
  line-height: 125%

  &_xl
    +rfs(18px)

  &_l
    +rfs(16px)

  &_m
    +rfs(14px)

  &_s
    +rfs(12px)

  &_xs
    +rfs(10px)

  &_bold
    +heavy

  &_dark-gray
    color: $dark-gray

.bclean-list
  &_two-cols
    columns: 2

/*====== Button with outline START ======*/
.bclean-btn-outline
  display: inline-flex
  align-items: center
  justify-content: center
  border: 2px solid $black
  color: $black
  border-radius: 25px
  height: 36px
  padding: 10px 12px
  text-align: center
  text-transform: uppercase

  &_blue
    border-color: $blue
    color: $blue
/*====== Button with outline END ======*/

/*====== Input with outline START ======*/
.bclean-input-outline
  +regular
  display: inline-flex
  align-items: center
  border: 2px solid $black
  color: $black
  border-radius: 25px
  height: 36px
  padding: 10px 12px
  background: transparent

  &_blue
    border-color: $blue
    color: $blue

  &_light-blue
    border-color: $blue
    background: rgba(37, 141, 221, 0.15)
    color: $blue

  input
    font: inherit
    font-size: inherit
    color: inherit
    border: none
    background: none
    width: 100%
    text-align: center
/*====== Input with outline END ======*/

/*====== Number input with outline START ======*/
.bclean-input-num-outline
  display: inline-flex
  align-items: center
  border: 2px solid $black
  color: $black
  border-radius: 25px
  height: 36px
  padding: 3px 12px

  &__plus,
  &__minus
    background: transparent
    height: 100%
    width: 11px
    color: $blue
    border: none
    vertical-align: middle

  & > input
    +heavy
    background: transparent
    width: 100%
    flex-grow: 1
    border: none
    padding: 0 2px
    color: inherit
    font-size: inherit
    text-align: center
    line-height: 125%

  &_blue
    border-color: $blue
    color: $blue

  &_light-blue
    border-color: $blue
    background: rgba(37, 141, 221, 0.15)
    color: $blue
/*====== Number input with outline END ======*/

/*====== Button filled Start ======*/
.bclean-btn
  display: inline-flex
  align-items: center
  justify-content: center
  background: $blue
  color: $white
  border: none
  border-radius: 25px
  height: 36px
  padding: 10px 12px
  text-align: center
  text-transform: uppercase

  &_white-blue
    background: $white
    color: $blue

  &:disabled
    background: $light-gray
    color: $dark-gray
/*====== Button filled END ======*/

/*====== Search input START ======*/
.bclean-search
  +regular
  width: 100%
  min-height: 32px
  border: 2px solid $black
  border-radius: 25px
  display: flex
  align-items: center
  padding-left: 14px
  padding-right: 6px
  margin-bottom: 0
  color: $black
  background: transparent

  &:focus-within
    border-color: $blue

  &-input
    width: 100%
    vertical-align: middle
    border: none
    outline: none
    background-color: transparent
    color: inherit
    line-height: inherit
    font-size: inherit

    &::placeholder
      +regular
      line-height: inherit
      font-size: inherit
      color: inherit
      text-transform: uppercase

  &-submit
    border: none
    outline: none
    width: 20px
    height: 20px
    background: url(../img/search.svg) no-repeat 50% 50%
    &_white
      background: url(../img/search-white.svg) no-repeat 50% 50%
  &_blue
    border-color: $blue
    color: $blue
    .bclean-search-submit
      background: url(../img/search-blue.svg) no-repeat 50% 50%
  &_white
    border-color: $white
    color: $white
    &:focus-within
      border-color: $white
/*====== Search input END ======*/

/*====== Tabs switch START ======*/
.bclean-tabs-vertical
  +regular
  display: flex
  width: 100%
  text-transform: uppercase
  flex-direction: column
  &__tab
    border: 2px solid $blue
    background-color: transparent
    color: $blue
    text-align: center
    flex-grow: 1
    border-radius: 15px
    display: flex
    align-items: center
    justify-content: center
    &_active
      background-color: $blue
      color: $white
  & > :first-child
    border-bottom: none
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    padding: 0 14px
  & > :last-child
    border-top: none
    border-top-left-radius: 0
    border-top-right-radius: 0
    padding: 0 14px
/*====== Tabs switch END ======*/

/*====== Overlay START ======*/
.bclean-overlay
  position: fixed
  width: 100vw
  height: 100vh
  background: rgba(37, 141, 221, 0.25)
  left: 0
  top: 0
  z-index: 100
  &:not(.is-opened)
    display: none
/*====== Overlay END ======*/

/*====== Modal window START ======*/
.bclean-modal
  display: flex
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
  border-radius: 25px
  background: $white
  &:not(.is-opened)
    display: none
/*====== Modal window END ======*/


/*====== Checkbox START ======*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
  position: absolute
  left: -9999px
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
  position: relative
  padding-left: 1.7em
  cursor: pointer

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before
  content: ''
  position: absolute
  left: 0 
  top: 0
  width: 12px 
  height: 12px
  background: url('/img/checkbox-off.svg')
  outline: none
[type="checkbox"]:checked + label:before
  content: ''
  position: absolute
  left: 0 
  top: 0
  width: 12px 
  height: 12px
  background: url('/img/checkbox-on.svg')

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before

[type="checkbox"]:disabled + label
  color: #aaa
/*====== Checkbox END ======*/