.menu-dropdown
  $self: &

  width: 100%
  background-color: $blue
  border-radius: 15px
  padding: 8px 15px

  .text
    color: $white
    padding: 7px 0
    text-transform: uppercase
    font-size: 12px

  &__item
    &_active
      +heavy

  &_open

    #{ $self }__content
      max-height: 1000px
    
    #{ $self }__current
      &::after
        top: 3px
        transform: rotate(180deg)


  &__content
    max-height: 0
    transition: all .4s ease-in-out

  &__current
    +heavy
    position: relative

    &::after
      content: ""
      position: absolute
      background: url(/img/arrow-white.svg) no-repeat center right
      width: 16px
      height: 16px
      display: block
      right: 0
      top: 9px


