.tooltip
  $self: &
  position: relative

  &_bot

    #{ $self }__container
      bottom: unset
      top: calc(100% + 32px)

    #{ $self }__content

      &::after
        position: absolute
        top: -19px
        left: calc(50% - 20px)
        bottom: unset

  &_no-arrow

    #{ $self }__container
      top: calc(100% + 7px)


    #{ $self }__content

      &::after
        content: none
    

  &__container
    position: absolute
    visibility: hidden
    bottom: calc(100% + 32px)
    z-index: 101
    left: -25px
    right: -25px
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
    border-radius: 15px

  &__content
    background-color: #fff
    color: black
    text-align: center
    border-radius: 6px
    min-width: 80%
    min-height: 30px
    // display: flex
    justify-content: center
    align-items: center
    padding: 0
    position: relative
    z-index: 51
    padding: 15px 18px
    min-width: 230px
    border-radius: 15px

    &_wide
      min-width: 350px

    &::after
      content: " "
      position: absolute
      background: #fff
      width: 40px
      height: 40px
      bottom: -19px
      left: calc(50% - 20px)
      border-radius: 2px
      transform: rotate(45deg)
      z-index: -1


  &:hover &

    &__container
      visibility: visible
